[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.2.16,<6"
django-import-export = ">=4.3.9,<5"
whitenoise = ">=6.6.0"

[dev-packages]

[requires]
python_version = "3.12"
