h1, h2, h3, h4, h5, h6, .site-title {
  color: #C25100;
  font-family: 'Open Sans', sans-serif;
}
body {
    padding-left: 15px;
}

tr:nth-child(even){background-color: DarkCyan;}
# tr:nth-child(odd){background-color: White;}

tr:hover {background-color: #ddd;}
