{% extends "now_base_generic.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Advisory Board</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>Advisory Board</h1>

  <h2><a name="General"></a>General Coordination &amp; Development</h2>

  <ul>
      <li>Overall coordination and data entry &ndash; Indr&#279; &#381;liobait&#279;</li>
      <li>Associate NOW coordinator</li>
      <ul>
          <li>Jussi T Eronen, Lars van den Hoek Ostende, Laura S&auml;il&auml;</li>
          <li>database development &ndash; Kari Lintulaakso</li>
      </ul>
      <li>Data development &ndash; John Damuth and Jukka Jernvall</li>
      <li>NOW Office Manager &ndash; Susanna Sova</li>
  </ul>
  <h2><a name="General"></a>Steering Group</h2>
  <ul>
      <li>Indr&#279; &#381;liobait&#279;</li>
      <li>Mikael Fortelius</li>
      <li>Laura S&auml;il&auml;</li>
      <li>Jussi Eronen</li>
      <li>Lars van den Hoek Ostende</li>
      <li>Lars Werdelin</li>
      <li>Christine Janis</li>
      <li>Ray Bernor</li>
      <li>Kari Lintulaakso</li>
  </ul>
  <h2><a name="Regional"></a>Regional Coordinators</h2>
  <ul>
      <h3>Europe</h3>
      <li>Western Europe &ndash; Jordi Agust&iacute; and Lars van den Hoek Ostende</li>
      <li>Central Europe &ndash; Gudrun Daxner-H&ouml;ck</li>
      <li>Eastern Europe &ndash; George Koufos, Adam Nadachowski and Nikolai Spassov</li>
      <li>Eastern Mediterranean and Greece &ndash; Dimitris Kostopoulos</li>
      <li>Italy &ndash; Lorenzo Rook</li>
      <li>Carpathian Basin &ndash; Kordos Laszlo</li>
      <li>Russia &ndash; Inesa Vislobokova and Alexey Tesakov</li>
      <h3>Asia</h3>
      <li>Southwest Asia &ndash; Sevket Sen</li>
      <li>South and East Asia (small mammals) &ndash; Larry Flynn</li>
      <li>Indian subcontinent &ndash; David Pilbeam and John Barry</li>
      <li>China &ndash; Qiu Zhuding, Zhang Zhaoqun and Liu Liping</li>
      <li>Israel &ndash; Miriam Belmaker</li>
      <h3>Africa</h3>
      <li>Africa &ndash; Lars Werdelin</li>
      <h3>North America</h3>
      <li>North America &ndash; Samantha Hopkins, Christine Janis, Greg McDonald</li>
      <h3>South America</h3>
      <li>South America &ndash; Darin Croft</li>
      <h3>Australia</h3>
      <li>Australia &ndash; Kenny Travouillon</li>
  </ul>
  <h2><a name="Stratigraphy"></a>Stratigraphy</h2>
  <ul>
      <li>General stratigraphic coordinator &ndash; Anu Kaakinen</li>
      <li>John Kappelman</li>
      <li>Pierre Mein</li>
      <li>Sevket Sen</li>
      <li>F.F. Steininger</li>
      <li>Michael O. Woodburne</li>
      <li>Barry Albright</li>
      <li>Richard Stucky</li>
      <li>Jessica Theodor</li>
      <li>Qiu Zhuding</li>
      <li>Palaeogene of North America &ndash; Jonathan Bloch</li>
      <li>Neogene of North America &ndash; David Fox</li>
      <li>Palaeogene of Eurasia &ndash; Wilma Wessels</li>
      <li>Pleistocene and Holocene &ndash; Jussi Eronen, Martin Sabol</li>
  </ul>
  <h2><a name="Geology"></a>Geology and Taphonomy</h2>
  <ul>
      <li>Sedimentology &ndash; J.P. Lunkka and Anu Kaakinen</li>
      <li>Taphonomy &ndash; Miranda Armour-Chelu</li>
  </ul>
  <h2><a name="Traits"></a>Traits</h2>
  <ul>
      General body size coordinator &ndash; Juha Saarinen</li>
  </ul>
  <h2><a name="Taxonomy"></a>Taxonomy &amp; Ecomorphology, Eurasia and Africa</h2>
  <ul>
      <li>General small mammal coordinator &ndash; Hans de Bruijn</li>
      <li>General large mammal coordinator &ndash; Ray Bernor</li>
      <li>Insectivores &ndash; Constantin Doukas and Marc Furi&oacute;</li>
      <li>Rodents and Lagomorphs &ndash; Pierre Mein and Isaac Casanovas-Vilar</li>
      <li>Hominoid Primates &ndash; Peter Andrews and David Alba</li>
      <li>Cercopithecoid Primates &ndash; Eric Delson</li>
      <li>Feloid Carnivores &ndash; Lars Werdelin</li>
      <li>Arctoid Carnivores &ndash; Suvi Viranta</li>
      <li>Suiforms &ndash; Jan van der Made</li>
      <li>Tragulids &ndash; Elmar Heizmann and Manuela Aiglstorfer</li>
      <li>Mochids &ndash; Manuela Aiglstorfer</li>
      <li>Cervids &ndash; Gertrud R&ouml;ssner</li>
      <li>Giraffids &ndash; Nikos Solounias and Alexandros Xafis</li>
      <li>Bovids &ndash; Alan Gentry, Dimitris Kostopoulos</li>
      <li>Equids &ndash; Ray Bernor and Mahito Watabe</li>
      <li>Chalicotheres &ndash; Margery Coombs and Louis de Bonis</li>
      <li>Tapirs &ndash; Luke Holbrook</li>
      <li>Rhinoceroses &ndash; Kurt Heissig, Pierre-Olivier Antoine and Ioannis Giaourtsakis</li>
      <li>Proboscideans &ndash; Bill Sanders and Ursula G&ouml;hlich</li>
      <li>Hyracoids &ndash; Elmar Heizmann</li>
      <li>Tubulidentates &ndash; Sevket Sen</li>
      <li>Hippopotamuses and Anthracotheres &ndash; Jean-Renaud Boisserie
          <li>General body size coordinator &ndash; Juha Saarinen</li>
  </ul>
  <h2><a name="Taxonomy"></a>Taxonomy &amp; Ecomorphology, North America</h2>
  <ul>
      <li>General coordinator of North America &ndash; Samantha Hopkins, Christine Janis</li>
      <li>Multituberculates &ndash; John Hunter</li>
      <li>Marsupials &ndash; Bill Korth</li>
      <li>Proeutheria & Insectivores &ndash; Shawn Zack and Tonya Penkrot</li>
      <li>Rodents &ndash; Bill Korth (taxonomy) and Josh Samuels (ecomorphology)</li>
      <li>Lagomorphs &ndash; Andrea Bair</li>
      <li>Plesiadapiformes and Primates &ndash; Mary Silcox</li>
      <li>Creodonts &ndash; Matt Borths</li>
      <li>Carnivores &ndash; Jon Baskin (taxonomy), Anthony Frisca and Blair Van Valkenburgh (ecomorphology)</li>
      <li>Condylarths and other Paleogene large mammals &ndash; Tonya Penkrot and Shawn Zak</li>
      <li>Primitive Artiodactyls &ndash; Richard Stucky</li>
      <li>Suiformes &ndash; Scott Foss</li>
      <li>Oreodonts &ndash; Joshua Ludtke</li>
      <li>Ruminants and camelids &ndash; Christine Janis and Jessica Theodor </li>
      <li>Non-equid perissodactyls &ndash; Matt Mihlbachler</li>
      <li>Equids &ndash; Richard Hulbert and Michael O. Woodburne</li>
      <li>General body size coordinator &ndash; Juha Saarinen</li>
  </ul>
  <h2><a name="South America"></a>South America</h2>
  <ul>
      <li>Genral coordinator of South America &ndash; Darin Croft</li>
      <li>Basal caviomorphs and octodontoid rodents &ndash; Michelle Arnal</li>
      <li>Platyrrhine primates &ndash; Siobhan Cooke</li>
      <li>Paleogene of Northwest Argentina &ndash; Daniel Garc&iacute;a L&oacute;pez</li>
  </ul>
  <h2><a name="Palaeoecology"></a>Palaeoecology</h2>
  <ul>
      <li>Kay Behrensmeyer</li>
      <li>Jan van Dam</li>
      <li>Thomas Kaiser</li>
      <li>Peter Ungar</li>
      <li>Mikael Fortelius</li>
      <li>Torsten Utescher</li>
  </ul>
  <h2><a name="Contacts"></a>Contacts with related projects</h2>
  <ul>
      <li>MioMap &ndash; Samantha Hopkins, Anthony D. Barnosky</li>
      <li>ROCEEH &ndash; Angela Bruch</li>
      <li>Neogene birds &ndash; Ursula G&ouml;hlich</li>
      <li>Fish, amphibians and reptiles &ndash; Madelaine B&ouml;hme</li>
      <li>NECLIME &ndash; Torsten Utescher</li>
      <li>Leaf and fruit floras &ndash; Johanna Kovar-Eder</li>
      <li>FutTRES (<a href="http://www.futres.org">www.futres.org</a> "Functional Trait Resource for Environmental Studies", a collaborative NSF funded project [U. Oregon, U. Arizona, U. Florida and Howard University) &ndash; Ray Bernor</li>
  </ul>
</article>
{% endblock %}

{% block aside %}
{% endblock %}
