{% extends "now_base_generic.html" %}
{% block title %}
NOW - Fossil Mammal Database - Browsing the Database - Details
{% endblock %}
{% block content %}
{% load static %}
						<!--Article header -->
						<header style="display:none">
						  <h3>Browsing the Database - Details</h3>
						</header>
						<!--End of article header -->
						<!-- Write your comments here -->
						<section class="w3-container">
						  <header class="w3-container">
						    <h3>Browsing the Database - Details</h3>
						  </header>
						  <section class="w3-container" id="NavBar">
						    <header class="w3-container">
						      <h4>Navigation Bar</h4>
						      The navigation bar appears in the left window next to Locality, Species and Reference details pages.
						    </header>
						    <table class="w3-table-all now-table-all">
						      <tr>
						        <td colspan="1" rowspan="4">
						          <a href="{% static "now/images/navbar.png" %}" target="_blank">
						          <img title="Navigation Bar" alt="Navigation Bar" src="{% static "now/images/navbarTN.png" %}">
						          </a>
						        </td>
						        <td>
						          <img alt="Locality List button" src="{% static "now/images/LocalityListBtn.png" %}">
						        </td>
						        <td>
						          goes to the <a href="#Locality">Locality</a> page.
						        </td>
						      </tr>
						      <tr>
						        <td><img alt="Species List button" src="{% static "now/images/SpeciesListBtn.png" %}"></td>
						        <td>goes to the <a href="#Species">Species </a>page.</td>
						      </tr>
						      <tr>
						        <td><img alt="Reference List button" src="{% static "now/images/ReferenceListBtn.png" %}"></td>
						        <td>goes to the <a href="#Reference">Reference </a> page.</td>
						      </tr>
						      <tr>
						        <td colspan="2"> Greyed out buttons are not available when browsing without edit permissions.</td>
						      </tr>
						    </table>
						  </section>
						  <section class="w3-container" id="Arrows">
						    <header class="w3-container">
						      <h4>Arrows</h4>
						    </header>
						    <p>The arrow buttons appear above the details window in all three details pages.</p>
						    <a href="{% static "now/images/ArrowsDetails.png" %}" target="_blank"><img title="Details page arrows" style="width:100%; padding:10px;" alt="Details page arrows" src="{% static "now/images/ArrowsDetails.png" %}"></a>
						    <p>Within the different details pages, you can access your search history with the left-hand arrows. Next to these arrows,<img style="float:none;" alt="HistoryList" src="{% static "now/images/HistoryList.png" %}"> the button lets you see, and choose all your previous search results.</p>
						    <br>
						    <p>Right hand arrows let you navigate between the successive records of the found set (I&lt; = first, &lt; = previous, &gt; = next, &gt;I = last).</p>
						  </section>
						  <section class="w3-container" id="Locality">
						    <header class="w3-container">
						      <h4>Locality</h4>
						    </header>
						    Details of the selected locality are displayed in the right window. The total number of records displayed (found set) are those found by the search performed in the list.
						    <br>
						    <a href="{% static "now/images/Locality.png" %}" target="_blank"><img style="width:100%; padding:10px;" title="Locality record" alt="Locality record" src="{% static "now/images/LocalityTN.png" %}"></a>
						    The top of the record displays the Locality ID, the locality name and the country. Below are the latitude and longitude in degrees, minutes and seconds, and the age of the locality.
						    <br>
						    <br>
						    The <strong>Age</strong>,
						    <strong>Locality</strong>,
						    <strong>Lithology</strong>,
						    <strong>Climate</strong> and
						    <strong>Taphonomy</strong> tabs all show further details for the locality. Click on the tab title to view the tab.
						    <br>
						    <br>
						    The <strong>Species</strong> tab shows all species associated with the locality. Click on the column headers to sort. Click on the
						    <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a taxon to view a full record (all taxonomic information, locality occurrences, etc.) of each species present.
						    <br>
						    <a href="{% static "now/images/LocalitySpecies.png" %}" target="_blank"><img style="width:100%; padding:10px;" alt="Locality - species list" title="Locality - species list" src="{% static "now/images/LocalitySpeciesTN.png" %}"></a>
						    The &#39;ID Uncertain&#39; field indicates an uncertain occurrence of the taxon at this locality: &#39;sp.&#39; indicates the species id is uncertain, &#39;gen.&#39; indicates the genus id is uncertain, and &#39;fam.&#39; indicates the family id is uncertain.
						    <br>
						    <br>
						    The field &#39;Additional Information&#39; can contain information about how the species was listed in the reference literature, for example, &#39;Listriodon cf. splendens&#39;, or it could contain historical information, for example, &#39;Suidae indet. in older references&#39;. The field titled &#39;Source Name&#39; is only filled when a taxon is called by a junior synonym name, for example, <i>Listriodon mongoliensis</i>, in the source literature, when the NOW database recognizes this taxon by the name of <i>Listriodon splendens</i>.
						    <br>
						    <br>
						    The <strong>Museums</strong> tab shows all museums with specimens associated with the locality. Click on the
						    <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full museum record.
						    <br>
						    <br>
						    The <strong>Projects</strong> tab shows all projects associated with the locality. Click on the
						    <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full project record.
						    <br>
						    <br>
						    The <strong>Updates</strong> tab shows all updates to data for this record, sorted by date.
						    <br>
						    <a href="{% static "now/images/LocalityUpdate.png" %}" target="_blank"><img style="width:100%; padding:10px;" title="Locality - updates" alt="Locality - updates" src="{% static "now/images/LocalityUpdateTN.png" %}"></a>
						    Click on the <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full update record.
						    <a href="{% static "now/images/LocalityUpdateDetails.png" %}" target="_blank"><img style="width:100%; padding:10px;" title="Locality Update Details dialog" alt="Locality Update Details dialog" src="{% static "now/images/LocalityUpdateDetailsTN.png" %}"></a>
						    <br>
						    <br>
						    The Update Details dialogue shows all the references linked to the update (there may be several). The dialogue also shows all the fields affected by the update. The &#39;Field&#39; column indicates what information the update concerned, and the &#39;Old data&#39; and &#39;New data&#39; indicate what has been added, modified or deleted during that update.
						    <br>
						    <br>
						    NOTE: update records from the old database interface were truncated, and in some cases are incomplete.
						    <br>
						  </section>
						  <section class="w3-container" id="Species">
						    <header class="w3-container">
						      <h4>Species</h4>
						    </header>
						    Details of the selected species are displayed in the right window. The total number of records displayed (found set) are those found by the search performed in the list.
						    <br>
						    <a href="{% static "now/images/Species.png" %}" target="_blank"><img style="width:100%; padding:10px;" alt="Species record" title="Species record" src="{% static "now/images/SpeciesTN.png" %}"></a>
						    The top of the record displays the species id and the binomial name, with the unique identifier below. The higher taxonomic fields (Order, Family, Subfamily/Tribe) are below this.
						    <br>
						    <br>
						    The <strong>Taxonomy</strong>,
						    <strong>Synonyms</strong>,
						    <strong>Diet</strong>,
						    <strong>Locomotion</strong>,
						    <strong>Size</strong> and
						    <strong>Teeth</strong> tabs all show further details for the species. Click on the tab title to view the tab.
						    <br>
						    <br>
						    Within the <strong>Taxonomy</strong> field, &#39;Taxonomic Status&#39; indicates a taxonomic qualifier common to all occurrences of this taxon. For example, if the genus attribution of the species is uncertain, the family attribution of the genus is uncertain, if the validity of the species is uncertain, the taxonomic validity of the entity is uncertain, or if this is an informal species. Usually, the taxonomic status is blank. &#39;Comment&#39; field will show important taxonomic comments that cannot easily be incorporated within the existing data fields, for example, for <i>Acinonyx crassidens</i> the comment says &#39;NOMEN DUBIUM, original description probably a chimaera of cheetah and leopard; All Laetoli, Turkana and Omo Shungura specimens are Acinonyx sp. (not necessarily all one taxon). Material from other sites may belong to Acinonyx jubatus or Acinonyx aicha.&#39;
						    <br>
						    <br>
						    The <strong>Localities</strong> tab shows all localities associated with the species. Click on the column header to sort. Click on the
						    <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full locality record.
						    <a href="{% static "now/images/SpeciesLocality.png" %}" target="_blank"><img style="width:100%; padding:10px;" alt="Species - locality list" title="Species - locality list" src="{% static "now/images/SpeciesLocalityTN.png" %}"></a>
						    <br>
						    <br>
						    The <strong>Loc-Sp Info</strong> tab displays information about the occurrence of this species at each locality it is associated with. The 'ID Uncertain' field indicates an uncertain occurrence of the taxon at this locality: &#39;sp.&#39; indicates the species id is uncertain, and so on.
						    <br>
						    <br>
						    The field 'Additional Information' can contain information about how the species was listed in the reference literature, for example, &#39;
						    <i>Listriodon</i> cf. <i>splendens</i>&#39;, or it could contain historical information, for example, &#39;Suidae indet. in older references&#39;. The field titled &#39;Source Name&#39; is only filled when a taxon is called by a junior synonym name, for example, <i>Listriodon mongoliensis</i>, in the source literature, when the NOW database recognizes this taxon by the name of <i>Listriodon splendens</i>. Nis, pct, quad, mni and qua indicate quantitative information relating to each specific locality.
						    <br>
						    <br>
						    The <strong>Updates</strong> tab shows all updates to data for this record, sorted by date.
						    <br>
						    <a href="{% static "now/images/SpeciesUpdate.png" %}" target="_blank"><img style="width:100%; padding:10px;" title="Species - updates" alt="Species - updates" src="{% static "now/images/SpeciesUpdateTN.png" %}"></a>
						    Click on the <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full update record.
						    <a  href="{% static "now/images/SpeciesUpdateDetails.png" %}" target="_blank">
						    <img style="width:100%; padding:10px;" title="Species Update Details dialog" alt="Species Update Details dialog" src="{% static "now/images/SpeciesUpdateDetailsTN.png" %}"></a>
						    <br>
						    The Update Details dialogue shows all the references linked to the update (there may be several). Click on the
						    <img style="float:none;" alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}"> button next to a record to view the full reference details. The dialogue also shows all the fields affected by the update. The &#39;Field&#39; column indicates what information the update concerned, and the &#39;Old data&#39; and &#39;New data&#39; indicate what has been modified, added or deleted during that update.
						    <br>
						    <br>
						    NOTE: update records from the old database interface were truncated, and in some cases are incomplete.
						  </section>
						  <section class="w3-container" id="Reference">
						    <header class="w3-container">
						      <h4>Reference</h4>
						    </header>
						    Details of the selected reference are displayed in the right window. The total number of records displayed (found set) are those found by the search performed in the list.
						    <br>
						    <a href="{% static "now/images/Reference.png" %}" target="_blank"><img style="width:100%; padding:10px;" title="Reference record" alt="Reference record" src="{% static "now/images/ReferenceTN.png" %}"></a>
						    At the top of the record, below the reference id number, is a citation version of the reference as it will appear elsewhere in the database.
						    <br>
						    <br>
						    The first field within the Reference Details indicates the type of reference (Journal, personal comment, etc.): this will affect the fields which are displayed below. In the following section, the appropriate fields are displayed for each reference. You may have to scroll down to view the full record.
						    <br>
						    <br>
						    The Localities and Species tabs at the top show all localities and species associated with the reference. For both records, click on the column header to sort, and click on the button next to a record to view the full locality/species record.
						    <br>
						  </section>
						</section>
{% endblock %}
