{% extends "now_base_generic.html" %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Browsing the Database - Lists</title>
{% endblock %}

{% block content %}
{% load static %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
  <h1>Browsing the Database - Lists</h1>
  <br>
  <h2><a id="NavBarLists"></a>Navigation Bar</h2>

  <p>The navigation bar appears in the left window next to the Locality, Species and References list pages.</p>

  <table style="width: 480px; text-align: left;" border="0" cellpadding="1" cellspacing="2">
      <tbody>
          <tr>
            <td colspan="1" rowspan="5" style="width: 80px; vertical-align: top;">
              <a href={% static "now/images/navbarLists.png" %} target="_blank">
                <img title="Navigation Bar" alt="Navigation Bar" src={% static "now/images/navbarLists.png" %} style="border: 2px solid ; witht: 64px; height: 170px;" align="left"></a>
            </td>
            <td style="vertical-align: top;"><img alt="Locality List button" src={% static "now/images/LocalityListBtn.png" %} style="width: 85px; height: 28px;" align="middle"> goes to the <a href="#LocalityList">Locality List</a>.</td>
          </tr>

          <tr>
              <td style="vertical-align: top;"><img alt="Species List button" src={% static "now/images/SpeciesListBtn.png" %} style="width: 85px; height: 26px;" align="middle"> goes to the <a href="#SpeciesList">Species List</a>.</td>
          </tr>

          <tr>
              <td style="vertical-align: top;"><img alt="Reference List button" src={% static "now/images/ReferenceListBtn.png" %} style="width: 85px; height: 26px;" align="middle"> goes to the <a href="#ReferenceList">Reference List</a>.</td>

          </tr>

          <tr>
              <td style="vertical-align: top;"><img alt="Export Records button" src={% static "now/images/ExportBigBtn.png" %} style="width: 85px; height: 20px;" align="middle"> will export the selected records to a text file: see the <a href="#ExportRecords">Export Records</a> section for more details.</td>
          </tr>

          <tr>
              <td style="vertical-align: top;"><img alt="Show Map button" src={% static "now/images/ShowMapBigBtn.png" %} style="width: 85px; height: 20px;" align="middle"> will show the selected records on a map: see the <a href="{% url 'export_maps'%}#ShowMap">Show Map</a> section for more details.</td>

          </tr>
      </tbody>
  </table>

  <p>Greyed out buttons are not available when browsing without edit permissions.
  <br>
  </p>

  <h2><a id="Arrows"></a>Arrows</h2>

  <p>The arrow buttons appear above the search options on the Locality, Species and References pages.</p>
  <table style="width: 480px; text-align: left;" border="0" cellpadding="1" cellspacing="2">
      <tbody>

          <tr>
              <td colspan="1" rowspan="3" style="width: 80px; vertical-align: top;">
                  <a href="{% static "now/images/ArrowsLists.png" %}" target="_blank">
                      <img title="List Arrows" alt="List Arrows" src="{% static "now/images/ArrowsLists.png" %}" style="border: 2px solid ; witht: 152px; height: 99px;" align="left"></a>
              </td>
              <td style="vertical-align: top;">Within the different list pages, you can access your search history with the upper arrows. </td>
          </tr>

          <tr>
              <td style="vertical-align: top;">Next to the arrows, <img alt="HistoryList" src="{% static "now/images/HistoryList.png" %}" style="width: 13px; height: 20px;" align="middle"> button lets you see, and choose, all your previous search results.
              </td>

          </tr>

          <tr>
              <td style="vertical-align: top;"><span class="middlepanel">Lower arrows let you navigate between the pages of the foundset (I&lt; = first, &lt; = previous, &gt; = next, &gt;I = last).</span></td>
          </tr>
      </tbody>

  </table>

  <h2><a id="LocalityList"></a>Locality List</h2>

  <p>A list of all localities included in the database.</p>

  <p>
      <a href="{% static "now/images/LocalityList.png" %}" target="_blank"><img title="Locality List" alt="Locality List" src="{% static "now/images/LocalityListTN.png" %}" style="border: 2px solid ; width: 480px; height: 413px;"></a>
  </p>

  <p>You can select a specific locality to view by clicking the <img alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}" style="width: 39px; height: 18px;" align="middle"> button next to the locality name. This will take you to the <a href="{% url 'browsing_details' %}#Locality">Locality</a> details page.</p>

  <p>To search for localities, enter terms in the box at the top of each column, then hit <img src="{% static "now/images/SearchBtn.png" %}" alt="Search Button" align="middle" style="width: 63px; height: 18px;">. Hold the mouse over each box for formatting tips.</p>

  <p>Click on a column header to sort the records by that field, or to toggle between ascending and descending.</p>

  <p>Clicking <img src="{% static "now/images/ClearBtn.png" %}" alt="Clear button" align="middle" style="width: 63px; height: 18px;"> above 'Search' will clear all the search fields but keeps the previous search results visible. Click 'Locality' on the <a href="{% static "now/images/navbarLists.png" %}" target="_blank">Navigation Bar</a> to clear the search and show all records. </p>

  <p> <span style="text-decoration: underline;">Text Fields (Locality and Country)</span></p>

  <p>A wildcard is automatically entered at the end of entries in the Locality and Country columns, so you need only enter the beginning of words. For example, entering 'Kaz' under Country and hitting 'Search' will find all localities in Kazakhstan. If you then enter 'A' under Locality and hit 'Search', you will find all localities starting with A in Kazakhstan. You can insert your own wildcard (%) anywhere else if needed, for example typing '%cave' under Locality will find all localities with the word 'cave' in them.</p>

  <p>
      <a href="{% static "now/images/LocalityListSearchLocality.png" %}" target="_blank"><img title="Locality List: example search using locality" alt="Locality List: example search using locality" src="{% static "now/images/LocalityListSearchLocalityTN.png" %}" style="border: 2px solid ; width: 480px; height: 143px;"></a>
  </p>

  <p>The search is not case-sensitive.</p>

  <p>The search will include all synonyms of locality names: for example, searching for 'as' under Locality will find locality 'Sinap 1', which has a synonym 'AS_1'. All localities which have diacritical marks in their name also have a plain-text synonym, so diacritical marks are not necessary when searching (for example, searching for 'ae' under Locality will find locality 'A&eacute;rotrain'.</p>

  <p>Accepted search terms in the Country search field also include the following continent or geographic area names: africa, antarctica, asia, europe, northamerica, oceania, southamerica. Continent names are not case-sensitive but the wildcard function (with or without %) does not work with these search terms, so they need to be written fully and correctly. </p>

  <p>To search for more than one area or country at the same time, you can enter them as a list with a space in between. For example, inputting &lsquo;Italy France Spain&rsquo; into the Country search field will display all the locations in those three countries, whereas inputting &lsquo;Europe Africa&rsquo; will display all the locations within these two geographic areas.</p>

  <p> <b>NOTE:</b> For country names that consist of more than one word, for example 'United Kingdom', please enter the name as 'United_Kingdom' into the Country field. Entering the words without the understrike will return a list of localities in every country that has the word 'United' in their name.</p>

  <p>
      <a href="{% static "now/images/LocalityListContinentsTN.png" %}" target="_blank"><img title="Locality List: example search using two continents" alt="Locality List: example search using two continents" src="{% static "now/images/LocalityListContinentsTN.png" %}" style="border: 2px solid ; width: 480px; height: 177px;"></a>
  </p>

  <p><span style="text-decoration: underline;">Numeric Fields (Maximum Age and Minimum Age)</span></p>
  <ul>
      <li>To search for an exact number, enter a number.</li>
      <li>The characters &gt;, &lt;, &gt;=, &lt;= are accepted before a number, eg. '&gt;5'.</li>

      <li>To search for a range, enter lower number then '...' then higher number, eg. '5...10'.</li>
  </ul>

  <p>A combination of maximum and minimum age search terms can be entered:</p>

  <p>
      <a href="{% static "now/images/LocalityListSearchAge.png" %}" target="_blank"><img title="Locality List: example search using maximum and minimum age" alt="Locality List: example search using maximum and minimum age" src="{% static "now/images/LocalityListSearchAgeTN.png" %}" style="border: 2px solid ; width: 480px; height: 143px;"></a>
  </p>
  <br>

  <h2><a id="SpeciesList"></a>Species List</h2>

  <p>A list of all species included in the database.</p>

  <p>
      <a href="{% static "now/images/SpeciesList.png" %}" target="_blank"><img title="Species List" alt="Species List" src="{% static "now/images/SpeciesList.png" %}" style="border: 2px solid ; width: 480px; height: 392px;"></a>
  </p>

  <p>You can select a specific species to view by clicking the <img alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}" style="width: 39px; height: 18px;" align="middle"> button next to the taxon name. This will take you to the <a href="{% url 'browsing_details' %}#Species">Species</span> </a>details page.</p>

  <p>To search for species, enter terms in the box at the top of each column, then hit
      <img src="{% static "now/images/SearchBtn.png" %}" alt="Search Button" align="middle" style="width: 63px; height: 18px;">. Hold the mouse over each box for formatting tips.</p>

  <p>Click on a column header to sort the records by that field, or to toggle between ascending and descending.</p>

  <p>Clicking <img src="{% static "now/images/ClearBtn.png" %}" alt="Clear button" align="middle" style="width: 63px; height: 18px;"> above 'Search' will clear all the search fields but keeps the previous search results visible. Click 'Species' on the <a href="{% static "now/images/navbarLists.png" %}" target="_blank">Navigation Bar</a> to clear the search and show all records. </p>

  <p> <span style="text-decoration: underline;">Text Fields</span></p>

  <p>A wildcard is automatically entered at the end of entries in all columns, so you need only enter the beginning of words. For example, entering 'rhinocer' under Family and hitting 'Search' will find all species in Family Rhinocerotidae. If you then enter 'b' under Species and hit 'Search', you will find all species starting with b in Rhinocerotidae. You can insert your own wildcard (%) anywhere else if needed, for example typing '%therium' under Genus will find all genera with the word 'therium' in them.</p>

  <p>
      <a href="{% static "now/images/SpeciesListSearch.png" %}" target="_blank"><img title="Species List: example search using wildcard ('%')" alt="Species List: example search using wildcard ('%')" src="{% static "now/images/SpeciesListSearch.png" %}" style="border: 2px solid ; width: 480px; height: 148px;"></a>
  </p>

  <p>The search is not case-sensitive.</p>

  <p>The search will include all synonyms of species names: for example, searching for 'rhino' under Genus and 'mer' under Species will find species
      <span style="font-style: italic;">Stephanorhinus kirchbergensis, </span> which is the accepted synonym for <span style="font-style: italic;">Rhinoceros mercki</span> in the NOW database.</p>

  <p>
      <a href="{% static "now/images/SpeciesListSearchSynonym.png" %}" target="_blank">
          <img title="Species List: example search where taxon has a synonym" alt="Species List: example search where taxon has a synonym" src="{% static "now/images/SpeciesListSearchSynonymTN.png" %}" style="border: 2px solid ; width:
                  480px; height: 57px;"></a>
  </p>

  <p>Any species that has synonym(s) listed in the database will have <img alt="Synonym button" src="{% static "now/images/SynonymBtn.png" %}" style="width: 20px; height: 18px;" align="middle"> next to it. Clicking this 'Synonym' button will open a pop-up window that shows all the synonyms listed for the species, and the references that were used when they were added.</p>

  <p>
      <a href="{% static "now/images/SpeciesListSynonymWindow.png" %}" target="_blank">
          <img title="Species List: synonym window" alt="Species List: synonym window" src="{% static "now/images/SpeciesListSynonymWindowTN.png" %}" style="border: 2px solid ; width: 480px; height: 120px;"></a>
  </p>

  <p>Similarly, if a species has a taxonomic comment listed in the database, <img alt="Comment button" src="{% static "now/images/CommentBtn.png" %}" style="width: 20px; height: 18px;" align="middle"> will appear next to it. Clicking this 'Comment' button will open a pop-up window showing the comment and references associated with it.</p>

  <p>NOTE: Subfamily is a recently added field, and so far has only been added for some taxa. However, it is included in the sort order, so that species without a subfamily name will appear before those which have one entered.</p>

  <br>

  <h2><a id="ReferenceList"></a>Reference List</h2>
  <p>The list of all references used in the database appears in the right window. Hold the mouse over a reference title, journal title or book title to see the full text.</p>

  <p>
      <a href="{% static "now/images/ReferenceListSearch.png" %}" target="_blank">
          <img title="Reference List" alt="Reference List" src="{% static "now/images/ReferenceListSearchTN.png" %}" style="border: 2px solid ; width: 480px; height: 313px;"></a>
  </p>

  <p>You can select a specific reference to view by clicking the
      <img alt="Select Record button" src="{% static "now/images/SelectRecordBtn.png" %}" style="width: 39px; height: 18px;" align="middle"> button next to the reference name. This will take you to the
      <a href="{% url 'browsing_details' %}#Reference">Reference</span></a> details page.</p>

  <p>To search for references, enter terms in the box at the top of each column, then hit <img src="{% static "now/images/SearchBtn.png" %}" alt="Search Button" width="66" height="8" align="middle" style="width: 63px; height: 18px;">. Hold the mouse over each box for formatting tips.</p>

  <p>Click on a column header to sort the records by that field, or to toggle between ascending and descending.</p>

  <p>Clicking <img src="{% static "now/images/ClearBtn.png" %}" alt="Clear button" width="63" height="8" align="middle" style="width: 59px; height: 18px;"> above 'Search' will clear all the search fields but keeps the previous search results visible. Click 'References' on the <a href="{% static "now/images/navbarLists.png" %}" target="_blank">Navigation Bar</a> to clear the search and show all records. </p>

  <p><span style="text-decoration: underline;">Text Fields (Author, Title, Journal, Book Title and Type)</span></p>

  <p>A wildcard is automatically entered at the end of entries in the Author, Title, Journal, Book Title and Type columns, so you need only enter the beginning of words. For example, entering 'Fort' under Author and hitting 'Search' will find all references by author Fortelius. If you then enter 2004 under Year and hit 'Search', you will find all references by Fortelius from 2004. You can insert your own wildcard (%) anywhere else if needed, for example typing '%mammal' under Title will find all references with the word 'mammal' in the title.</p>

  <p>The search is not case-sensitive.</p>

  <p>It is unnecessary to include diacritical marks in the search, a plain-text search term will find words with and without diacritical marks (for example, searching for 'agusti' under Author will find references where the author is listed as Agusti or Agust&iacute;). If unsure of whether a name has been entered with '&ouml;' or 'oe', try using the wildcard: eg. 'Ho%ck' will find 'H&ouml;ck' and 'Hoeck'.</p>

  <p><span style="text-decoration: underline;">Author</span>: the search results will include all papers where the person (e.g. Fortelius) is an author but only the first author will be displayed in the foundset. Also his/her personal communications and other possible reference types will be displayed.</p>

  <p><span style="text-decoration: underline;">Title</span>: the primary title of the reference (title of journal article, book chapter, or book if it is cited as such). When searching, it is best to enter a particular word or phrase using a wildcard, e.g. &#8216;%neogene mammal&#8217;, as titles are easily misspelled or use variations of words like &#8216;a&#8217; or &#8216;the&#8217;, making an exact match difficult to get.
      <br>
  </p>

  <p>
      <a href="{% static "now/images/ReferenceListSearchTitle.png" %}" target="_blank">
          <img title="Reference List: example search using title" alt="Reference List: example search using title" src="{% static "now/images/ReferenceListSearchTitleTN.png" %}" style="border: 2px solid ; width: 480px; height: 89px;"></a>
  </p>

  <p><span style="text-decoration: underline;">Book Title</span>: the secondary title, so search here for titles of books which have had chapters cited, or conference titles, titles of journal volumes, etc.
      <br>
  </p>

  <p>
      <a href="{% static "now/images/ReferenceListSearchBookTitle.png" %}" target="_blank"><img title="Reference List: example search using book title" alt="Reference List: example search using book title" src="{% static "now/images/ReferenceListSearchBookTitleTN.png" %}" style="border: 2px solid ; width: 480px; height: 205px;"></a>
  </p>

  <p>NOTE: a search in one title field will only search in the field entered. For example, entering '%neogene mammal' under Title will find all references where the phrase is included in the primary title, but entering same phrase under Book Title will find all chapters from books with the phrase in the book title.</p>

  <p><span style="text-decoration: underline;">Journal</span>: if you sort by Journal, all references without a journal title will be displayed last on the foundset.</p>

  <p><span style="text-decoration: underline;">Type</span>: reference type, eg. journal, book chapter, etc.</p>
  <p> <span style="text-decoration: underline;">Numeric Fields (Year)</span></p>

  <p><span style="text-decoration: underline;">Year</span>: the year of publication, and only accepts exact year (for example, '2004').</p>

</article>

{% endblock %}
