{% extends "now_base_generic.html" %}
{% block script %}
{% endblock %}
{% block title %}
NOW - Fossil Mammal Database - Browsing - Data Conventions
{% endblock %}
{% block content %}
{% load static %}

<!--Article header -->
<header style="display:none">
	<h3>Data Conventions</h3>
</header>
<!--End of article header -->
<section class="w3-container w3-section">
  <header class="w3-container">
    <h3>Data Conventions - Background</h3>
  </header>
	<p>
		NOW began as a clone of the ETE ("Evolution of Terrestrial Ecosystems") database originally developed by John Damuth and the ETE Consortium, and most species and locality data fields follow the definitions described in the <a href="http://www.pantherion.com/dbmanual97/" target="_blank">ETE</a> manual. NOW is limited in scope to Cenozoic land mammals, so naturally uses only part of the complex possibilities embodied in the ETE design. Some fields have been added to suit the purposes of the NOW database, and some existing fields have been adapted.
	</p>
	<br>
	<p>
		As a guideline NOW uses the taxonomy of McKenna &amp; Bell's <i>Classification of Mammals Above the Species Level</i>, except for Muridae for which we use McKenna &amp; Bell's classification with the modifications suggested by <a href={% static "now/pdf/Muridae_tentative.pdf" %} target="_blank">Hans de Bruijn</a>.
	</p>
	<br>
  <p>To learn about adding taxa to a locality and about how different occurrences are recorded in NOW, with some examples, please see:
		<br><a href="{% url 'species_at_localities' %}">Species at Localities</a>
	</p>
  <br>
  <p>
		To learn about adding new taxa into the database and about how taxonomic information is recorded in NOW, with some examples, please see:<br><a href="{% url 'taxonomy' %}">Taxonomic Fields</a>
	</p>
  <br>
  <p>
		To learn how different physical and behavioural attributes of taxa can be recorded in NOW, please see:<br><a href="{% url 'species_notes' %}">Description of Species</a>
	</p>
  <br>
  <p>
		To learn how different locations are described in NOW, please see:<br><a href="{% url 'locality_notes' %}">Description of Localities</a>
	</p>
  <br>
  <p>
		For information about some basic data entry practices, please see:<br><a href="{% url 'data_entry_practices' %}">Data entry practices</a>
	</p>
	<br>
	<h4 id="McKennaBell">References</h4>
	<br>
	<p>
		<strong>de Bruijn, Hans.</strong> "A tentative classification of the Eurasian Paleogene and Neogene Muridae above the species level." <i>Neogene of the Old World Database of Fossil Mammals (NOW), http://www. helsinki. fi/science/now/, University of Helsinki (2010).</i>
	</p>
</section>
{% endblock %}
