{% extends "now_base_generic.html" %}

{% block title %}
  NOW - Fossil Mammal Database - Browsing - Enter Database
{% endblock %}

{% block content %}
{% load static%}
<!--Article header -->
<header style="display:none">
	<h3>Enter Database</h3>
</header>
<!--End of article header -->
<!-- Write your comments here -->
<section class="w3-container">

  <header class="w3-container">
    <h3><a href="https://nowdatabase.luomus.fi/" target="_blank" style="background-color:tomato;"> Enter Database without login [click here] </a></h3>
  </header>
  <h4>Login</h4>

  <p>User name and password are no longer required to browse the database. However, any data used should be cited as specified <a href="{% url 'index' %}#Citation">here</a>. If you would like a personal account, please contact <a href="mailto:indre-dot-zliobaite-at-helsinki-dot-fi">Indr&#279; Žliobait&#279;</a> or <a href="mailto:kari-dot-lintulaakso-at-helsinki-dot-fi">Kari Lintulaakso</a> for more information.</p>

  <h4>Need help? Illustrated instructions for using the interface</h4>

  <p>While we have done our best to make the interface intuitive, we highly recommend you spend a few moments familiarising yourself with it using the guides below:</p>
  <ul>
    <li><a href="{% url 'browsing_lists' %}">Browsing the Database - Lists</a></li>
    <li><a href="{% url 'browsing_details' %}">Browsing the Database - Details</a></li>
  </ul>

  <h4>Export Data</h4>

  <p> In addition to browsing data via web interface it is possible to download snapshots or a full public dataset from the database as text files (csv). Instructions are available for <a href="{% url 'export_maps' %}">exporting records and map coordinates</a>. Please remember to acknowledge NOW using the recommended <a href="{% url 'index' %}#Citation">citation</a>. This helps to keep NOW running.</p>

</section>

{% endblock %}
