{% extends "now_base_generic.html" %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Browsing - View Database</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1><a href="http://pantodon.science.helsinki.fi/now">Enter Database</a><br>
  <h2>Login</h2>
  <p>User name and password are no longer required to browse the database. However any data used should be cited as specified <a href="index.html#Citation">here</a>. If you would like a personal account, please contact <a href="mailto:mikael-dot-fortelius-at-helsinki-dot-fi">Mikael Fortelius</a> or <a href="mailto:susanna-dot-sova-at-helsinki-dot-fi">Susanna Sova</a> for more information.</p>
  <br>
  <h2>Need help? Illustrated instructions for using the interface</h2>

  <p>While we have done our best to make the interface intuitive, we highly recommend you spend a few moments familiarising yourself with it using the guides below:</p>
  <ul>
    <li><a href="browsingLists.html">Searching the lists</a></li>
    <li><a href="browsingDetails.html">Record details</a></li>
  </ul>
  <br>
  <h2>Export Data</h2>

  <p>It is possible to export and download datasets directly from the database. Please read the instructions for <a href="Export_Maps.html">exporting records and map coordinates</a>, and remember to acknowledge the source of the data using the recommended <a href="index.html#Citation">citation</a>.</p>
  <h3>Download standard versions</h3>
  <p>Previous public releases of NOW data are available as an Excel file (version 4.0).</p>
  <p><a href="excel/NOW_public_030717.zip">2003 (July)</a></p>
  <p><a href="excel/NOW_public_020104.zip">2002 (January)</a></p>

  <p><a href="excel/NOW_public_001102.zip">2000 (November)</a></p>
  <p><a href="excel/NOW_public_000309.zip">2000 (March)</a></p>
  <br>
  <p>NOW database interface created and maintained by Gudrun Evans and Jouni Veps&auml;l&auml;inen.</p>
  <br>
</article>

{% endblock %}
