{% extends "now_base_generic.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Ecometrics</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>Dental ecometrics</h1>
  <h2>Present day datasets for building ecometric models</h2>
  <br>

  <h3>Dental traits</h3>

  <p>Functional crown type dataset for living species, <a rel="data" href="http://www.helsinki.fi/science/now/data_dental_modern_public_10.csv">current version v10</a></p>

  <p>The functional dental trait scoring scheme is designed for capturing molar shape and main functional traits of worn occlusal surfaces of the molar dentition. The scheme is described in the supplement of
    <a rel="publication" href="http://www.pnas.org/content/113/45/12751.full">this publication</a>.
  </p>

  <p>The scoring scheme is applicable to all living and fossil herbivorous mamals, regardless of phylogenetic relationships, size or design of the chewing apparatus. Scoring is at the level of species.</p>
  <br>

  <h3>Data attribution</h3>

  <p>Data (http://www.helsinki.fi/science/now/ecometrics.html) by <b>Helsinki School of Ecometrics</b> / CC BY 4.0.</p>

  <h3>License</h3>
  <p>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
  <br /> Except where otherwise <a rel="note" href="http://www.helsinki.fi/science/now/note.html">noted</a>, content on this <b>page</b> (Dental ecometrics) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

  <p>This license applies only to the present day data available on this page, this is not a license for the NOW database of fossil mammals. The license for the NOW database can be found <a rel='link' href="http://www.helsinki.fi/science/now/">here</a>.</p>
  <br>

  <h3>Suggested citations</h3>

  <p>For dental traits predicting productivity of environment:
    <br> Liu, L., Puolamaki, K., Eronen, J. T., Mirzaie Ataabadi, M., Hernesniemi, E., Fortelius, M. (2012).
    <a rel="paper" href="http://rspb.royalsocietypublishing.org/content/279/1739/2793">Dental functional traits of mammals resolve productivity in terrestrial ecosystems past and present</a>.
    <i>Proceedings of the Royal Society B</i> 279:2793-2799.
  </p>
  <p>For the new dental trait scoring scheme:
    <br> Zliobaite, I., Rinne, J., Toth, A., Mechenich, M., Liu, L., Behrensmeyer, A.K., Fortelius, M. (2016).
    <a rel="paper" href="http://www.pnas.org/content/113/45/12751">Herbivore teeth predict climatic limits in Kenyan ecosystems</a>. <i>PNAS</i> 113(45), p. 12751-12756.
  </p>

  <p>Latest published version of the dental traits for living species:
    <br> Galbrun, E., Tang, H., Fortelius, M., Zliobaite, I. (2017). Computational biomes: the ecometrics of large mammal teeth. <i>In revision</i>. <a rel="code" href="https://github.com/zliobaite/teeth-redescription">Code repository.</a>
  </p>
</article>
{% endblock %}

{% block aside %}
{% endblock %}
