{% extends "now_base_generic.html" %}
{% block style %}
{% endblock %}
{% block script %}
{% endblock %}
{% block title %}
NOW - Fossil Mammal Database - Field Archives
{% endblock %}
{% block content %}
{% load static %}
          <!--Article header -->
          <header style="display:none">
            <h3>Repository for field catalogues</h3>
          </header>
          <!--End of article header -->

          <!-- Write your comments here -->
          <section class="w3-container" id="fieldCat">
            <header class="w3-container">
              <h3>Repository for field catalogues</h3>
              <p>
                These field catalogues are offered independently of the NOW database. Note that they are simply raw field data as recorded during the project, and have not been updated. For current information, please refer to the NOW database and published lists.
              </p>
              <p>
                This page is still being developed and other catalogues will be added in the future. Please contact <a href="mailto:indre-dot-zliobaite-at-helsinki-dot-fi">Indr&#279; Žliobait&#279;</a> if you have data which you would like to preserve and present here.
              </p>
            </header>
            <hr>
            <section class="w3-row">
              <header class="w3-container">
                <h3>Sinap</h3>
              </header>
              <div class="w3-half w3-row-padding">
                Miocene Sinap Project, Turkey
                <br> 1989 - 1995
                <a href="{% static "now/field_cat/SinapFC95.xls"%}">[excel]</a>
                <a href="{% static "now/field_cat/SinapFC95.txt"%}" target="_blank">[text (tab-delimited)]</a>
                <br><strong>Contact:</strong>
                <br> John Kappelman
                <br> Sevket Sen
                <br> Mikael Fortelius
              </div>
              <div class="w3-half w3-row-padding">
                <img class="w3-border w3-padding w3-image" alt="Sinap field catalogue" src="{% static "now/images/Sinaptn.jpg"%}" style="width: 200px;">
              </div>
            </section>
            <hr>
            <section class="w3-row">
              <header class="w3-container">
                <h3>Lantian</h3>
              </header>
              <div class="w3-half w3-row-padding">
                Miocene Lantian Project, China
                <br> 1997 - 2001
                <a href="{% static "now/field_cat/LantianFC2001.xls"%}">[excel]</a>
                <a href="{% static "now/field_cat/LantianFC2001.txt"%}" target="_blank">[text (tab-delimited)]</a>
                <br><strong>Contact:</strong>
                <br> Zhang Zhaoqun
                <br> Mikael Fortelius
              </div>
              <div class="w3-half w3-row-padding">
                <img class="w3-border w3-padding w3-image" alt="Lantian field catalogue" src="{% static "now/images/Lantiantn.jpg"%}" style="width: 200px;">
              </div>
            </section>
            <hr>
            <section class="w3-row">
              <header class="w3-container">
                <h3>East Asia</h3>
              </header>
              <div class="w3-half w3-row-padding">
                Anatomy of a critical transition in the late Neogene of East Asia
                <br> 2012 - 2017
                <a href="{% static "now/field_cat/1-s2.0-S0921818115300229-mmc1.xlsx"%}"><b>Carbon isotope values of Late Miocene to Pliocene mammals from China:</b> [excel]</a>
                <br><strong>Contact:</strong>
                <br> Laura Arppe
                <br> Anu Kaakinen
                <br><strong>Citation:</strong>
                <p>
                  <br>Arppe, L., Kaakinen, A., Passey, B.H., Zhang, Z. and Fortelius, M., 2015. Small mammal tooth enamel carbon isotope record of C4 grasses in late Neogene China. <i>Global and Planetary Change</i>, 133, pp.288-297. <a href="https://doi.org/10.1016/j.gloplacha.2015.09.003" target="_blank">https://doi.org/10.1016/j.gloplacha.2015.09.003</a>
                </p>
              </div>
              <div class="w3-half w3-row-padding">
                <img class="w3-border w3-padding w3-image" alt="Carbon isotope values of Late Miocene to Pliocene mammals from China" src="{% static "now/images/1-s2.0-S0921818115300229-gr2.jpg"%}" style="width: 200px;">
              </div>
            </section>
            <hr>
            <section class="w3-row">
              <header class="w3-container">
                <h3>East Asia</h3>
              </header>
              <div class="w3-half w3-row-padding">
                Anatomy of a critical transition in the late Neogene of East Asia
                <br> 2012 - 2017
                <a href="{% static "now/field_cat/1-s2.0-S0012821X16000534-mmc2.xlsx"%}"><b>Detrital zircon U-Pb data:</b> [excel]</a>
                <br><strong>Contact:</strong>
                <br> Anu Kaakinen
                <br><strong>Citation:</strong>
                <p>
                  <br>Shang, Y., Beets, C.J., Tang, H., Prins, M.A., Lahaye, Y., van Elsas, R., Sukselainen, L. and Kaakinen, A., 2016. Variations in the provenance of the late Neogene Red Clay deposits in northern China. <i>Earth and Planetary Science Letters</i>, 439, pp.88-100.<a href="https://doi.org/10.1016/j.epsl.2016.01.031" target="_blank">https://doi.org/10.1016/j.epsl.2016.01.031</a>
                </p>
              </div>
              <div class="w3-half w3-row-padding">
                <img class="w3-border w3-padding w3-image" alt="Detrital zircon U-Pb ages for the Red Clay samples" src="{% static "now/images/1-s2.0-S0012821X16000534-gr004.jpg"%}" style="width: 100%">
              </div>
            </section>
            <hr>
            <section class="w3-row" id="otherFieldCat">
              <header class="w3-container">
                <h3>Other on-line field catalogues</h3>
              </header>
              <p>
                <a href="http://www.nyu.edu/gsas/dept/anthro/programs/csho/research_catalogs.html" target="_blank">Center for the Study of Human Origins, New York University</a>
              </p>
              <p>
                <a href="http://herc.berkeley.edu/rhoi/_rhoi_specimen_db.php" target="_blank">RHOI specimen database</a>
              </p>
            </section>
          </section>
{% endblock %}
{% block aside %}
{% endblock %}
