{% extends "now_base_generic.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Field Archives</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>NOW Field Archives</h1>
  <h2><a name="fieldCat"></a>Repository for field catalogues</h2>
  <p>These field catalogues are offered independently of the NOW database. Note that they are simply raw field data as recorded during the project, and have not been updated. For current information, please refer to the NOW database and published lists.</p>
  <p>This page is still being developed and other catalogues will be added in the future. Please contact <a href="mailto:mikael-dot-fortelius-at-helsinki-dot-fi">Mikael Fortelius</a> if you have data which you would like to preserve and present here.</p>
  <table style="margin-left: auto; margin-right: auto; width: 100%; text-align: left;" border="2" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="height: 250px; text-align: center; vertical-align: middle; width: 240px;">
          <h3>Sinap</h3>

          <p>Miocene Sinap Project, Turkey
          <br> 1989 - 1995</p>
          <p> <a href="field_cat/SinapFC95.xls">[excel]</a></p>
          <p> <a href="field_cat/SinapFC95.txt" target="_blank">[text (tab delimited)]</a></p>
          <p>Contact:
            <br> John Kappelman
            <br> Sevket Sen
            <br> Mikael Fortelius
          </p>
        </td>
        <td style="height: 250px; text-align: center; vertical-align: middle; width: 240px;"><img alt="Sinap field catalogue" src="images/Sinaptn.jpg" style="width: 178px; height: 250px;">
          <br>
        </td>
      </tr>
      <tr>
        <td style="height: 250px; text-align: center; vertical-align: middle; width: 240px;">
          <h3>Lantian</h3>
          <p>Miocene Lantian Project, China
            <br> 1997 - 2001
          </p>
          <p> <a href="field_cat/LantianFC2001.xls">[excel]</a></p>
          <p> <a href="field_cat/LantianFC2001.txt" target="_blank">[text (tab delimited)]</a></p>
          <p>Contact:
            <br> Zhang Zhaoqun
            <br> Mikael Fortelius
          </p>
        </td>
        <td style="height: 250px; vertical-align: middle; width: 240px; text-align: center;"><img alt="Lantian field catalogue" src="images/Lantiantn.jpg" style="width: 240px; height: 192px;">
          <br>
        </td>
      </tr>
      <tr>
        <td style="height: 250px; text-align: center; vertical-align: middle; width: 240px;">
          <h3>East Asia</h3>
          <p> Anatomy of a critical transition in the late Neogene of East Asia
            <br> 2012 - 2017
          </p>
          <p> <a href="field_cat/1-s2.0-S0921818115300229-mmc1.xlsx"><b>Carbon isotope values of Late Miocene to Pliocene mammals from China:</b> [excel]</a></p>
          <p>Contact:
          <br> Laura Arppe
          <br> Anu Kaakinen</p>
          <p>Citation:
            <br>Arppe, L., Kaakinen, A., Passey, B.H., Zhang, Z. and Fortelius, M., 2015. Small mammal tooth enamel carbon isotope record of C4 grasses in late Neogene China. <i>Global and Planetary Change</i>, 133, pp.288-297. <a href="https://doi.org/10.1016/j.gloplacha.2015.09.003" target="_blank">https://doi.org/10.1016/j.gloplacha.2015.09.003</a>
          </p>
        </td>
        <td style="height: 250px; vertical-align: middle; width: 240px; text-align: center;"><img alt="Carbon isotope values of Late Miocene to Pliocene mammals from China" src="images/1-s2.0-S0921818115300229-gr2.jpg" style="width: 240px; height: 192px;">
          <br>
        </td>
      </tr>
      <tr>
        <td style="height: 250px; text-align: center; vertical-align: middle; width: 240px;">
          <h3>East Asia</h3>

          <p> Anatomy of a critical transition in the late Neogene of East Asia
          <br> 2012 - 2017</p>
          <p> <a href="field_cat/1-s2.0-S0012821X16000534-mmc2.xlsx"><b>Detrital zircon U-Pb data:</b> [excel]</a></p>
          <p>Contact:
            <br> Anu Kaakinen
          </p>
          <p>Citation:
            <br>Shang, Y., Beets, C.J., Tang, H., Prins, M.A., Lahaye, Y., van Elsas, R., Sukselainen, L. and Kaakinen, A., 2016. Variations in the provenance of the late Neogene Red Clay deposits in northern China. <i>Earth and Planetary Science Letters</i>, 439, pp.88-100.<a href="https://doi.org/10.1016/j.epsl.2016.01.031" target="_blank">https://doi.org/10.1016/j.epsl.2016.01.031</a>
          </p>
        </td>
        <td style="height: 250px; vertical-align: middle; width: 240px; text-align: center;"><img alt="Detrital zircon U-Pb ages for the Red Clay samples" src="images/1-s2.0-S0012821X16000534-gr004.jpg" style="width: 240px; height: 192px;">
          <br>
        </td>
      </tr>
    </tbody>
  </table>
  <h2><a name="otherFieldCat"></a>Other on-line field catalogues</h2>
  <p><a href="http://www.nyu.edu/gsas/dept/anthro/programs/csho/research_catalogs.html" target="_blank">Center for the Study of Human Origins, New York University</a></p>
  <p> <a href="http://herc.berkeley.edu/rhoi/_rhoi_specimen_db.php" target="_blank">RHOI specimen database</a></p>
</article>
{% endblock %}

{% block aside %}
{% endblock %}
