{% extends "now_base_generic.html" %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Links</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>Links</h1>
  <h2>ETE<br>

  </h2>
    <p><a href="http://www.nmnh.si.edu/ete/" target="_blank">ETE - Evolution of Terrestrial Ecosystems</a></p>
    <p><a href="http://www.pantherion.com/dbmanual97/" target="_blank">ETE manual</a></p>
    <br>
    <h2>Other Databases</h2>
    <p><a href="http://www.wahre-staerke.com/" target="_blank">Database of Lower Vertebrates</a></p>
    <p><a href="http://www.palaeo.de/homepages/boehme/index.html" target="_blank">Lower Vertebrates (Pisces, Amphibia, Reptilia) of the Tertiary</a></p>
    <p><a href="http://www.ucmp.berkeley.edu/miomap/" target="_blank">MioMap - Miocene Mammal Mapping Project</a></p>
    <p><a href="http://morphobrowser.biocenter.helsinki.fi/" target="_blank">MorphoBrowser</a></p>
    <p><a href="http://paleodb.org/cgi-bin/bridge.pl?user=Guest&amp;action=displayHomePage" target="_blank">The Paleobiology Database (PBDB)</a></p>
    <br>
    <h2>Fossil Taxonomy</h2>
    <p><a href="http://www.bfvol.org/" target="_blank">The Bibliography of Fossil Vertebrates</a></p>
    <p><a href="http://www.fmnh.helsinki.fi/users/haaramo/" target="_blank">Mikko's Phylogeny Archive</a></p>
    <p><a href="http://www.nceas.ucsb.edu/%7Ealroy/nafmsd.html" target="_blank">North American Fossil Mammal Systematics Database</a></p>
    <br>
    <h2>Climate</h2>
    <p><a href="http://medias.obs-mip.fr/cpc/aims/index.php" target="_blank">CPC - Cenozoic Pollen database and Climatic values</a></p>
    <p><a href="http://www.neclime.de/" target="_blank">NECLIME - Neogene Climate Evolution in Eurasia</a></p>
    <p><a href="http://www.scotese.com/" target="_blank">Paleomap Project</a></p>
    <br>
    <h2>Coordinates</h2>
    <p><a href="http://earth-info.nga.mil/gns/html/" target="_blank">GNS - GEOnet Names Server (National Geospatial Intelligence Agency)</a></p>
</article>

{% endblock %}
