{% extends "now_base_generic.html" %}
{% block title %}
NOW - Fossil Mammal Database - Data Conventions - Locality description
{% endblock %}
{% block content %}
<!--Article header -->
<header style="display:none">
	<h3>Notes on the description of Localities</h3>
</header>
<!--End of article header -->
<!-- Write your comments here -->
<section class="w3-container">
  <header class="w3-container">
    <h3 id="Locality">Notes on the description of Localities</h3>
    Please follow the examples provided by the existing localities in the system, and the <a href="http://www.pantherion.com/dbmanual97/" target="_blank"> ETE database</a> manual. Below is some information about the basic Locality entry fields.
  </header>
</section>
<section class="w3-container">
  <header class="w3-container">
    <h4>Obligatory information</h4>
    Locality name, country, coordinates, and age are minimum requirements when entering a new locality into NOW.
  </header>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Name:</h5>
    </header>
    The name of a locality and known synonyms. The design of the database allows a locality to be searched for under any of its known names. The primary locality name must be unique, but a synonym may be used for multiple localities.
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Coordinates:</h5>
    </header>
    Latitude and longitude can be given either in degrees, minutes and seconds or in degrees with decimals. Mark coordinates as written in your reference. If no coordinates are mentioned, please use the coordinates of a known landmark (i.e. a city or village) nearby. To find the coordinates of this landmark, please use the 'Coordinate Services' button. The coordinates are important because the database has a map-based user interface, and localities without (or with grossly incorrect) coordinates are lost to the analyses.
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Age:</h5>
    </header>
    The age of the locality with the highest degree of accuracy as possible. Time units (MN, Nalma, etc) can also be used and can be searched for within the system. Please avoid inappropriate use of time units, e.g. NALMA or MN units for Chinese localities, and instead use actual age or regional mammal stages. If you are uncertain of the best approach for your locality, please contact the appropriate <a href="{% url 'board' %}#Stratigraphy">stratigraphic coordinator</a> or the main coordinator <a href="mailto:indre-dot-zliobaite-at-helsinki-dot-fi">Indr&#279; Žliobait&#279;</a>.
  </section>
</section>
<section class="w3-container">
  <header class="w3-container">
    <h4>Additional information</h4>
  </header>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Sedimentary Environment 1:</h5>
    </header>
    Emphasise this level.
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Sedimentary Environment 2:</h5>
    </header>
    Include if well documented. Probably too fine a classification for most analyses.
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Climate Type:</h5>
    </header>
    The general inferred climatic regime of the locality. Include especially when not based on the mammal fauna.
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Biome:</h5>
    </header>
    Use in combination with Climate Type to create entities such as "temperate coniferous forest" or "tropical savanna" (in our usage, the latter h5s woodland to grassland).
  </section>
  <section class="w3-container">
    <header class="w3-container">
      <h5>Seasonality:</h5>
    </header>
    Include if based on good evidence (non-mammalian). A very difficult but potentially very important field.
  </section>
</section>
{% endblock %}
