{% extends "now_base_generic.html" %}

{% block title %}
  <title>NOW - Fossil Mammal Database - News</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>News</h1>
  <h2>Latest news and Circulars</h2>
  <h2>Latest new features & fixes to the NOW database</h2>

  <h3>2019/10:</h3>
  <ul>
  <li>Data: Body mass data has been added to 1258 species</li>
  <li>Data: South American data added from Croft, D.A., 2016. Horned armadillos and rafting monkeys: the fascinating fossil mammals of South America.</li>
  <li>Added new taxonomical fields: Subclass or Superorder, Suborder or Superfamily</li>
  <li>Fix: coordinate services in the data entry</li>
  </ul>
  <h3>2019/05:</h3>
  <ul>
  <li>Data: New MN units (Hilgen, 2012) are added to the time units</li>
  <li>Data: 'Findout' taxa updated as 'indet.'</li>
  <li>Added an error reporting button (contact) for Locality, Species and Reference</li>
  <li>Added a FAQ page</li>
  <li>Added “unworn” to mesowear categories</li>
  <li>Added a list of metadata of the website, including the major contributors of the last few months</li>
  <li>Added into the download file species that have no public locality (interesting because of traits)</li>
  <li>Updated the NOW Advisoy Board listing</li>
  <li>Fix: Trim all taxa before saving them in the database.</li>
  </ul>
</article>

{% endblock %}
