{% extends "now_base_generic.html" %}
{% block title %}
NOW - Fossil Mammal Database - License note
{% endblock %}
{% block content %}
            <!--Article header -->
            <header style="display:none">
              <h3>License note</h3>
            </header>
            <!--End of article header -->
            <!-- Write your comments here -->
            <section class="w3-container">
              <header class="w3-container">
                <h3>License note</h3>
              </header>
              The NOW logo drawing by Aino Martiskainen is not part of the license.
            </section>
{% endblock %}
