{% load static %}
<!DOCTYPE html>
<!-- Write your comments here -->
<html lang="en">
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'now/css/nav_style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/5768ea2a16.js" crossorigin="anonymous"></script>
    <style>
      body {
      min-height: 100%;
      margin: 0;
      padding: 0;
      background-color: rgb(202, 176, 95);}
      html {
      height: 100%;
      }
      .now-font{
      font-size: 1.9em;
      }
      .now-image{
      border: 2px solid blue;
      margin: 15px;
      width: calc(100% - 30px);
      height:auto
      }
      .now-table-all td{
      border: 1px solid black;
      }
      {% block style %}
      {% endblock %}
    </style>
  </head>
  <body style="margin: 10px;">
    <!-- Beginning of top row-->
    <div class="w3-row" style="width:75%; margin: auto; background-color: rgb(250, 250, 210);">
      <!-- Beginning of logo-->
      <div class="w3-col w3-container m4 l4">
        <a href="{% url 'index' %}">
          <figure>
            <img class ="w3-image" src="{% static "now/images/nowlogoTN.png"%}" alt="NOW logo">
            <figcaption class="w3-tiny">&copy; Noira Martiskainen</figcaption>
          </figure>
        </a>
      </div>
      <!-- End of logo-->
      <!-- Beginning of main heading-->
      <div class="w3-col w3-container m4 l4 w3-center">
        <h1 class="now-font"><a href="{% url 'index' %}">NOW</a></h1>
        <h2 class="now-font">New and Old Worlds</h2>
        <h3 class="now-font"><a href="https://nowdatabase.luomus.fi/" target="_blank">Database of fossil mammals</a></h3>

      </div>
      <!-- End of main heading-->
      <!-- Beginning of top right empty corner-->
      <div class="w3-col w3-container m4 l4">
      </div>
      <!-- End of top right empty corner-->
    </div>
    <!-- End of top row-->
    <!-- Beginning of nav, article, side-->
    <div class="w3-row" style="width:75%; margin: auto;">
      <!-- Beginning of nav-->
      <div class="w3-col w3-container m3 l2" style="background-color: #9DA590;">
        <!-- Beginning of nav ul-->
        <ul id="accordion" class="accordion">
          <li>
            <div class="single-link">
              <i class="fa fa-newspaper-o"></i><a href="{% url 'news' %}">News</a>
            </div>
            <div class="single-link">
              <i class="fa fa-database"></i><a href="{% url 'database' %}">Enter Database</a>
            </div>
          </li>
          <li>
            <div class="single-link"><i class="fa fa-home"></i><a href="{% url 'index' %}">About</a></div>
          </li>
          <li>
            <div class="link">
              <i class="fa fa-group"></i>People<i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
              <li><a href="{% url 'board' %}">General Coordination & Development</a></li>
              <li><a href="{% url 'board' %}#SteeringGroup">Steering Group</a></li>
              <li><a href="{% url 'board' %}#RegionalCoordinators">Regional Coordinators</a></li>
              <li><a href="{% url 'board' %}#Stratigraphy">Stratigraphy</a></li>
              <li><a href="{% url 'board' %}#GeologyandTaphonomy">Geology and Taphonomy</a></li>
              <li><a href="{% url 'board' %}#Traits">Traits</a></li>
              <li><a href="{% url 'board' %}#Taxonomy_Ecomorphology_Eurasia_and_Africa">Taxonomy &amp; Ecomorphology, Eurasia and Africa</a></li>
              <li><a href="{% url 'board' %}#Taxonomy_Ecomorphology_North_America">Taxonomy &amp; Ecomorphology, North America</a></li>
              <li><a href="{% url 'board' %}#SouthAmerica">South America</a></li>
              <li><a href="{% url 'board' %}#Palaeoecology">Palaeoecology</a></li>
              <li><a href="{% url 'board' %}#Contacts">Contacts with related projects</a></li>
            </ul>
          </li>
          <li>
            <div class="link">
              <i class="fa fa-check-circle"></i>Data Conventions<i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
              <li><a href="{% url 'conventions' %}">Background</a></li>
              <li><a href="{% url 'species_at_localities' %}">Species at Localities</a></li>
              <li><a href="{% url 'taxonomy' %}">Taxonomic Fields</a></li>
              <li><a href="{% url 'species_notes' %}">Description of Species</a></li>
              <li><a href="{% url 'locality_notes' %}">Description of Localities</a></li>
              <li><a href="{% url 'data_entry_practices' %}">Data entry practices</a></li>
            </ul>
          </li>
          <li>
            <div class="link">
              <i class="fa fa-list"></i>Instructions<i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
              <li><a href="{% url 'browsing_lists' %}">Browsing Lists</a></li>
              <li><a href="{% url 'browsing_details' %}">Browsing Details</a></li>
              <li><a href="{% url 'export_maps' %}">Export and Maps</a></li>
            </ul>
          </li>
          <li>
            <div class="link">
              <i class="fa fa-archive"></i>Archives<i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
              <li><a href="{% url 'field_archive' %}">NOW Field Archives</a></li>
              <li><a href="{% url 'ecometrics' %}">Dental ecometrics</a></li>
              <li><a href="{% url 'links' %}">Links</a></li>
            </ul>
          </li>
          <li>
            <div class="single-link">
              <i class="fa fa-question"></i><a href="{% url 'faq' %}">FAQ</a>
            </div>
          </li>
          <li>
            <div class="link" style="word-wrap: break-word;">
              <i class="fa fa-thumbs-up"></i>Acknowledgements<i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
              <li><a href="{% url 'acknowledgements' %}">Funding</a></li>
              <li><a href="{% url 'publications' %}">Publications</a></li>
            </ul>
          </li>
        </ul>
        <!-- End of nav ul-->
      </div>
      <!-- End of nav-->
      <!-- Beginning of article, Lisence and maintained by-->
      <div class="w3-col w3-container m6 l8 w3-light-grey">
        <article class="w3-container">
          {% block content %}
          {% endblock %}
        </article>
        <hr>
        <!-- Beginning of Lisence-->
        <section class="w3-container w3-row w3-section">
          <div class="w3-col m12 l12">
            <header class="w3-container">
              <h6 style="display:none;">License</h6>
              <p>
                <strong>License:</strong> Except where otherwise <a rel="note" href="{% url 'note' %}">noted</a>, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License.</a>
              </p>
            </header>
            <p>
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="float: right; vertical-align:top;" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a>
            </p>
          </div>
        </section>
        <!-- End of Lisence-->
        <hr>
        <!-- Beginning maintained by-->
        <section class="w3-container w3-section">
          <header class="w3-container">
            <h6 style="display:none;">Website by</h6>
          </header>
          <footer class="w3-row">
            <address class="w3-col w3-container m4 l4">
              <strong>Website by:</strong>
              <br> Arja Hokkanen, Gudrun Evans, Susanna Sova, Kari Lintulaakso
            </address>
            <address class="w3-col w3-container m4 l4">
              <strong>Maintained by:</strong>
              <br>
              <a href="mailto:kari-dot-lintulaakso%20-at-%20gmail-dot-com">Kari Lintulaakso</a>
            </address>
            <div class="w3-col w3-container m4 l4">
              <strong>Page updated on:</strong>
              <br>
              {{ last_modified }}
            </div>
          </footer>
        </section>
        <!-- End of maintained by-->
      </div>
      <!-- End of article, Lisence and maintained by-->
      <section class="w3-section w3-container w3-col m3 l2">
        <header>
          <h6 style="display:none;">Highlights</h6>
        </header>
        <aside class="w3-container" style="background-color: #9DA590;">
          <p>Latest NOW circular.
            <br>
            <br>The latest circular can be found from here: <a href="{% static "now/circulars/NOW_circular_20230113.pdf" %}" target="_blank"> [PDF]</a>
          </p>
          <br>
        </aside>
      </section>
    </div>
    <!-- End of nav, article, side-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
      $(function() {
        var Accordion = function(el, multiple) {
          this.el = el || {};
          this.multiple = multiple || false;

          // Private variables
          var links = this.el.find('.link');
          // Event
          links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function(e) {
          var $el = e.data.el;
          $this = $(this),
          $next = $this.next();

          $next.slideToggle();
          $this.parent().toggleClass('open');

          if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
          };
        }

        var accordion = new Accordion($('#accordion'), false);
      });
    </script>
  </body>
</html>
