{% extends "now_base_generic.html" %}

{% block title %}
  NOW - Fossil Mammal Database - Publications
{% endblock %}

{% block content %}
{% load static %}
<section class="w3-container">
  <header class="w3-container">
    <h3>Selected publications based on NOW</h3>
  </header>

  {% regroup publications by year as year_list %}
  {% for year in year_list %}
    <h4>{{ year.grouper }}</h4>
    {% for pub in year.list %}
      <hr>{{ pub.authors }}, {{ pub.year }}. {{ pub.title }}
      {% if pub.journal %}
        In <i>{{ pub.journal }}</i>
      {% endif %}
      {% if pub.citation %}, {{ pub.citation }}{% endif %}.
      {% if pub.pdf %}
        <a href="{{ pub.pdf_link }}" target="_blank" rel="noopener">[PDF]</a>
      {% endif %}
      {% if pub.dataset %}
        <a href="{{ pub.dataset_link }}" target="_blank" rel="noopener">[dataset]</a>
      {% endif %}
      {% if pub.doi %}
        <a href="https://doi.org/{{ pub.doi }}" target="_blank" rel="noopener">[doi:{{ pub.doi }}]</a>
      {% endif %}
    {% endfor %}
  {% empty %}
    <p>No publications are available.</p>
  {% endfor %}
</section>
{% endblock %}
