{% extends "now_base_generic.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Publications</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
	<h1>Publications</h1>
  <h2>Selected publications based on NOW</h2>
  <br>
  <h3>2017</h3>

  <p>• Zliobaite, I., Puolamäki, K., Eronen, J. and Fortelius, M. 2017. A survey of computational methods for fossil data analysis.
      <i>Evolutionary Ecology Research</i> 18.
      <a href="http://evolutionary-ecology.com/issues/forthcoming/ar3066.pdf">PDF</a></p>

  <p>• Sukselainen, L. K., Kaakinen, A., Eronen, J. T., Passey, B. H., Harrison, T., Zhaoqun, Z. and Fortelius, M. 2017. The palaeoenvironment of the middle Miocene pliopithecid locality in Damiao, Inner Mongolia, China.
      <i>Journal of Human Evolution</i> 108: 31-46. <a href="https://doi.org/10.1016/j.jhevol.2017.03.014">DOI</a></p>

  <h3>2016</h3>

  <p>• Fortelius, H. L. M., Zliobaite, I., Kaya, F., Bibi, F., Bobe, R., Leakey, L., Leakey, M., Patterson, D., Rannikko, J. C. and Werdelin, L. 2016. An ecometric analysis of the fossil mammal record of the Turkana Basin.
      <i>Philosophical Transactions of the Royal Society. Biological Sciences</i> 371(1698).
      <a href="http://dx.doi.org/10.1098/rstb.2015.0232">DOI</a></p>

  <p>• Mirzaie Ataabadi, M., Kaakinen, A. P., Kunimatsu, Y., Nakaya, H., Orak, Z., Paknia, M., Sakai, T., Salminen, M. J., Sawada, Y., Sen, S., Suwa, G., Watabe, M., Zaree, G., Zhaoqun, Z. and Fortelius, H. L. M. 2016. The late Miocene hominoid-bearing site in the Maragheh Formation, Northwest Iran.
      <i>Palaeobiodiversity and Palaeoenvironments</i> 96(3): 349-371.
      <a href="http://dx.doi.org/10.1007/s12549-016-0241-4">DOI</a></p>

  <p>• Salonen, J. S., Saarinen, J. J., Miettinen, A. I., Hirvas, H., Usoltseva, M., Fortelius, H. L. M. and Sorsa, M. 2016. The northernmost discovery of a Miocene proboscidean bone in Europe.
      <i>Palaeogeography, Palaeoclimatology, Palaeoecology</i> 454: 202-211.
      <a href="http://dx.doi.org/10.1016/j.palaeo.2016.04.034">DOI</a></p>

  <p>• Kaya, F., Kaymakci, N., Bibi, F., Eronen, J. T., Pehlevan, C., Erkman, A., Langereis, C. and Fortelius, M. 2016. Magnetostratigraphy and paleoecology of the hominid-bearing locality Çorakyerler, Tuglu Formation (Çankiri Basin, Central Anatolia).
      <i>Journal of Vertebrate Paleontology</i> 36(2).
      <a href="http://dx.doi.org/10.1080/02724634.2015.1071710">DOI</a></p>

  <h3>2015</h3>

  <p>• Fortelius, H. L. M., Geritz, S. A. H., Gyllenberg, M. A. G., Raia, P. and Toivonen, J. T. 2015. Modeling the Population-Level Processes of Biodiversity Gain and Loss at Geological Timescales.
      <i>American Naturalist</i> 186(6): 742-754.
      <a href="http://dx.doi.org/10.1086/683660">DOI</a></p>

  <p>• Arppe, L., Kaakinen, A., Passey, B., Zhang, Z. and Fortelius, M. 2015.
      <i> Small mammal tooth enamel carbon isotope record of C4 grasses in late Neogene China.</i> 133: 288-297.
      <a href="https://doi.org/10.1016/j.gloplacha.2015.09.003">DOI</a></p>

  <p>• Sukselainen, L., Fortelius, M. & Harrison, T. 2015. Co-occurrence of pliopithecoid and hominoid primates in the fossil record: An ecometric analysis.
      <i>Journal of Human Evolution.</i> 84: 25-41.
      <a href="https://doi.org/10.1016/j.jhevol.2015.04.009">DOI</a></p>

  <h3>2014</h3>

  <p>• Fortelius, M., Eronen, J.T., Kaya, F., Tang, H., Raia, P., Puolamäki, K. 2014. Evolution of Neogene mammals in Eurasia: environmental forcing and biotic interactions. <i>Annual Reviews of Earth and Planetary Science</i> 42: 579–604, doi: 10.1146/annurev-earth-050212-124030.</p>

  <p>• Eronen, J.T., Kaakinen, A., Liu, L., Passey, B.H., Tang, H., Zhang, Z. 2014. Here be Dragons: Mesowear of the classic Chinese "Hipparion" faunas from Baode, Shanxi Province, China. <i>Annales Zoologici Fennici</i> 51: 227-244. <a href="http://www.helsinki.fi/science/now/pdf/Eronen_etal_2014_Dragons.pdf">[PDF]</a></p>

  <p>• Bingham, E. and Mannila, H. 2014. Towards Computational Techniques for Identifying Candidate Chronofaunas. <i>Annales Zoologici Fennici</i> 51: 43-48.</p>

  <p>• Saarinen, J.J., Boyer, A.G., Brown, J.H, Costa, D.P., Ernest, S.K.M., Evans, A.R., Fortelius, M., Gittleman, J.L., Hamilton, M.J., Harding, L.E., Lintulaakso, K., Lyons, S.K., Okie, J.G., Sibly, R.M., Stephens, P.R., Theodor, J., Uhen, M.D., Smith, F.A. 2014. Patterns of maximum body size evolution in Cenozoic land mammals: eco-evolutionary processes and abiotic forcing. <i>Proceedings of the Royal Society B</i> 281, doi: 10.1098/rspb.2013.2049. <a href="http://www.helsinki.fi/science/now/pdf/Saarinen_etal_2014_ProcB.pdf">[PDF]</a></p>

  <p>• Liow, L.H. and Finarelli, J.A. 2014. A dynamic global equilibrium in carnivoran diversification over 20 million years. <i>Proceedings of the Royal Society B</i> 281: 20132312. http://dx.doi.org/10.1098/rspb.2013.2312 </p>

  <p>• Martin-Serra, A., Figueirido, B., Palmqvist, P. 2014. A Three-Dimensional Analysis of Morphological Evolution and Locomotor Performance of the Carnivoran Forelimb. <i>PLoS ONE</i> 9(1): e85574. <a href="http://www.helsinki.fi/science/now/pdf/Martin-Serra_etal2014_PloSONE.pdf">[PDF]</a></p>

  <p>• Wu, S., Zhang, F., Edwards, S. V., Wu, W., Ye, J., Bi, S., Ni, X., Quan, C., Meng, J., Organ, C. L. 2014. The evolution of bipedalism in jerboas (Rodentioa: Dipopoidea): Origin in humid and forested environments. <i>Evolution</i> 68(7): 2108-2118.</p>

  <h3>2013</h3>

  <p>• Raia, P. and Fortelius, M. 2013. Cope’s Law of the Unspecialized, Cope’s Rule, and weak directionality in evolution. <i>Evolutionary Ecology Research</i> 15: 747–756. <a href="http://www.helsinki.fi/science/now/pdf/Raia_Fortelius_2013_EvoEcoR.pdf">[PDF]</a></p>

  <p>• Mirzaie Ataabadi, M., Liu, L., Eronen, J. T., Bernor, R., Fortelius, M. 2013. Continental Scale Patterns in Neogene Mammal Community Evolution and Biogeography: A Europe-Asia Perspective. Pp. 629-655 in Wang, X., Flynn, L.J. and Fortelius, M. (Eds), <i>Fossil Mammals of Asia</i>. New York: Columbia University Press.</p>

  <p>• Kaakinen, A. P., Passey, B. H., Zhang, Z., Pesonen, L., Liu, L., Fortelius, M. 2013. Stratigraphy and paleoecology of the classical dragon bone localities of Baode County, Shanxi Province, China. Pp. 203-217 in Wang, X., Flynn, L.J. and Fortelius, M. (Eds), <i>Fossil Mammals of Asia</i>. New York, Columbia University Press.</p>

  <p>• Zhang, Z., Kaakinen, A. P., Liu, L., Lunkka, J.P., Sen, S., Gose, W.A., Qiu, Z. Zheng, S., Fortelius, M. 2013. Mammalian biochronology of the Late Miocene Bahe Formation. Pp. 187-202 in Wang, X., Flynn, L.J. and Fortelius, M. (Eds), <i>Fossil Mammals of Asia</i>. New York, Columbia University Press.</p>

  <p>• Okie, J.G., Boyer, A.G., Brown, J.H., Costa, D.P., Ernest, S.K.M., Evans, A.R., Fortelius, M., Gittleman, J.L., Hamilton, M.J., Harding, L.E., Lintulaakso, K., Lyons, S.K., Saarinen, J.J., Smith, F.A., Stephens, P.R., Theodor, J., Uhen, M.D., Sibly, R.M. 2013. Effects of allometry, productivity and lifestyle on rates and limits of body size evolution. <i>Proceedings of the Royal Society B</i> 280: 20131007 (online June 13). <a href="http://www.helsinki.fi/science/now/pdf/Okie_etal2013_ProcB.pdf">[PDF]</a></p>

  <p>• Uhen, M. D., Barnosky, A. D., Bills, B., Blois, J., Carrano, M. T., Carrasco, M. A., Erickson, G. M., Eronen, J. T., Fortelius, M., Graham, R. W., Grimm, E. C., O'Leary, M. A., Mast, A., Piel, W. H., Polly, P. D., Säilä, L. K. 2013. From card catalogs to computers: Databases in vertebrate paleontology. <i>Journal of Vertebrate Paleontology</i> 33:13-28. <a href="http://www.helsinki.fi/science/now/pdf/Uhen_etal_2013_JVP.pdf">[PDF]</a></p>

  <p>• Tang, H., Eronen, J.T., Micheels, A., Ahrens, B. 2013. Strong interannual variation of the Asian summer monsoon in the Late Miocene. <i>Climate Dynamics</i> 41: 135-153</p>

  <p>• Wagner, P.J. and Marcot, J.D. 2013. Modelling distributions of fossil sampling rates over time, space and taxa: assessment and implications for macroevolutionary studies. <i>Methods in Ecology and Evolution</i>, 4(8): 703-713. </p>

  <h3>2012</h3>

  <p>• Evans, A.R., Jones, D., Boyer, A.G., Brown, J.H., Costa, D.P., Dayan, T., Ernest, S.K.M., Fitzgerald, E.M.G. Fortelius, M. Gittleman, J.L. Hamilton, M.J., Harding, L.E., Lintulaakso, K., Lyons, S.K., Okie, J.G., Saarinen, J.J., Sibly, R.M., Smith, F.A., Stephens, P.R., Theodor, J., Uhen, M.D. 2012. Maximum rates of body size macroevolution in mammals. <i>PNAS</i> 109: 4187-4190. <a href="http://www.helsinki.fi/science/now/pdf/Evans_etal_2012_PNAS.pdf">[PDF]</a></p>

  <p>• Bradshaw, C.D., Lunt, D.J., Flecker, R., Salzmann, U., Pound, M.J., Haywood, A.M., Eronen, J.T. 2012. The relative roles of CO2 and palaeogeography in determining late Miocene climate: results from a terrestrial model-data comparison. <i> Climate of the Past</i> 8: 1257-1285, doi:10.5194/cp-8-1257-2012</p>

  <p>• Eronen, J.T., Fortelius, M., Micheels, A., Portmann, F.T., Puolamäki, K., Janis, C.M. 2012. Neogene Aridification of the Northern Hemisphere. <i>Geology</i> 40: 823-826. http://dx.doi.org/10.1130/G33147.1</p>

  <p>• Eronen, J.T., Micheels, A., Utescher, T. 2012. Comparison of estimates for Mean Annual Precipitation from different proxies. A Pilot Study for European Neogene. <i>Evolutionary Ecology Research</i> 13: 851-867. <a href="http://www.helsinki.fi/science/now/pdf/Eronen_etal_2012_EvoEcoR.pdf">[PDF]</a></p>

  <p>• Liu, L., Puolamäki, K., Eronen, J.T., Mirzaie, M., Hernesniemi, E., Fortelius, M. 2012. Estimating Net Primary Productivity from Dental Traits. <i>Proceedings of the Royal Society B</i> 27: 2793-2799, http://dx.doi.org/10.1098/rspb.2012.0211</p>

  <p>• Raia P., Carotenuto F., Passaro F., Fulgione D., Fortelius, M. 2012. Ecological specialization in fossil mammals explains Cope's rule. <i>American Naturalist</i> 179: 328-337. <a href="http://www.helsinki.fi/science/now/pdf/Raia_etal_AmNat2012.pdf">[PDF]</a></p>

  <p>• Raia P., Passaro F., Carotenuto F. 2012. Habitat tracking, stasis and survival in Neogene large mammals. <i>Biology Letters</i> 8: 64-66.

  </p>
  <h3>2011</h3>

  <p>• Deng, T., X. Wang, M. Fortelius, Q. Li, Y. Wang, Z.J. Tseng, G.T. Takeuchi, J. E. Saylor, L.K. Säilä, G. Xie. 2011. Out of Tibet: Pliocene woolly rhino suggests high-plateau origin of Ice Age megaherbivores. <i>Science</i> 333: 1285-1288. <a href="http://www.helsinki.fi/science/now/pdf/Deng_etal_2011_Science.pdf">[PDF]</a></p>

  <p>• Eronen, J. T., Evans, A. R., Fortelius, M., Jernvall, J. 2011. Genera are often better than species for detecting evolutionary change in the fossil record: A reply to Salesa et al. <i>Evolution</i> 65: 1514-1516.</p>

  <p>• Raia, P., Carotenuto, F., Eronen, J.T., Fortelius, M. 2011. Longer in the tooth, shorter in the record? The evolutionary correlates of hypsodonty in Neogene ruminants. <i>Proceedings of the Royal Society B.</i> 278, 3474-3481. <a href="http://www.helsinki.fi/science/now/pdf/Raia_etal_2011.pdf">[PDF]</a></p>

  <p>• Tang, H., Micheels, A., Eronen, J.T., Fortelius, M. 2011. A regional climate model experiment to investigate the Asian monsoon in the Late Miocene. <i>Climate of the Past</i> 7: 847-868. <a href="http://www.clim-past.net/7/847/2011/cp-7-847-2011.html">[PDF]</a></p>

  <p>• Micheels, A., Bruch, A.A., Eronen, J.T. , Fortelius, M., Harzhauser, M., Utescher, T. Mosbrugger, V. 2011. Analysis of heat transport mechanisms from a Late Miocene model experiment with a fully-coupled atmosphere-ocean general circulation model. <i>Palaeoclimatology, Palaeogeography, Palaeoecology</i> 304: 337-350. <a href="http://www.helsinki.fi/science/now/pdf/Micheels_etal_2011.pdf">[PDF]</a></p>

  <p>• Polly, P.D., Eronen, J.T., Fred, M., Dietl, G., Mosbrugger, V., Scheidegger, C., Frank, D., Damuth, J., Stenseth, N.-C., Fortelius, M. 2011. History Matters: Integrative Climate Change Biology. <i>Proceedings of the Royal Society B</i> 278: 1131-1140. <a href="http://www.helsinki.fi/science/now/pdf/Polly_etal_2011.pdf">[PDF]</a></p>

  <h3>2010</h3>

  <p>• Eronen, J. T., Polly, P.D., Fred, M., Damuth, J., Frank, D. C., Mosbrugger, V., Scheidegger, C., Stenseth, N. C., Fortelius, M. 2010. Ecometrics: The traits that bind the past and present together.<i>Integrative Zoology</i> 5: 88-101. <a href="http://www.helsinki.fi/science/now/pdf/Eronen_etal_IZ_2010.pdf">[PDF]</a></p>

  <p>• Eronen, J. T., Puolamäki, K., Liu, L., Lintulaakso, K., Damuth, J., Janis, C., Fortelius, M. 2010. Precipitation and large herbivorous mammals , part II: Application to fossil data. <i>Evolutionary Ecology Research</i> 12: 235-248. <a href="http://www.helsinki.fi/science/now/pdf/hhar2539.pdf">[PDF]</a></p>

  <p>• Eronen, J. T., Puolamäki, K., Liu, L., Lintulaakso, K., Damuth, J., Janis, C., Fortelius, M. 2010. Precipitation and large herbivorous mammals , part I: Estimates from present-day communities. <i>Evolutionary Ecology Research</i> 12: 217-233. <a href="http://www.helsinki.fi/science/now/pdf/ggar2538.pdf">[PDF]</a></p>

  <p>• Eronen, J. T. , Evans, A.R., Jernvall, J., Fortelius, M. 2010. The impact of regional climate on the evolution of mammals. A case study using fossil horses. <i>Evolution</i> 64: 398-408. <a href="http://www.helsinki.fi/science/now/pdf/Eronen_etal_2010.pdf">[PDF]</a></p>

  <p>• Saarinen, J., Oikarinen, E., Fortelius, M. and Mannila H. 2010. The living and the fossilised – how well do unevenly distributed points capture the faunal information in a grid? <i>Evolutionary Ecology Research</i> 12: 363-376.<a href="http://www.helsinki.fi/science/now/pdf/Saarinen_etal_2010.pdf">[PDF]</a></p>

  <p>• Solounias, N., Rivals, F., and Semprebon, G.M. 2010. Dietary interpretation and paleoecology of herbivores from Pikermi and Samos (late Miocene of Greece). <i>Paleobiology</i> 3: 113-136.</p>

  <p>• Casanovas-Vilar, I., Garcia-Paredes, I., Alba, D.M., Van den Hoek Ostende, L.W., Moya-Sola, S. 2010. The European Far West: Miocene mammal isolation, diversity and turnover in the Iberian Peninsula. <i>Journal of Biogeography</i> 37: 1079-1093. </p>

  <p>• Furio, M., Casanovas-Vilar, I., Van den Hoek Ostende, L.W. 2010. Predictable structure of Miocene insectivore (Lipotyphla) faunas in Western Europe along a latitudinal gradient. <i>Palaeogeography, Palaeoclimatology, Palaeoecology</i> 304: 219-229. doi:10.1016/j.palaeo.2010.01.039 </p>

  <h3>2009</h3>

  <p>• Liu L., Eronen J. T., and Fortelius M. 2009. Significant Mid-Latitude Aridity in the Middle Miocene of East Asia. <i>Palaeoclimatology, Palaeogeography, Palaeoecology</i> 279: 201-206. <a href="http://www.helsinki.fi/science/now/pdf/Liu_etal_2009.pdf">[PDF]</a></p>

  <p>• Eronen J. T., Mirzaie Ataabadi M., Micheels A., Karme A., Bernor R. L., and Fortelius M. 2009. Distribution history and climatic controls of the Late Miocene Pikermian chronofauna. <i>PNAS</i> 106(29): 11867-11871.
      <a href="http://www.helsinki.fi/science/now/pdf/eronen_etal_PNAS_2009.pdf">[PDF]</a></p>

  <p>• Micheels, A., Eronen, J.T., and Mosbrugger, V. 2009. The Late Miocene climate sensitivity on a modern Sahara desert. <i>Global and Planetary Change</i> 67: 193-204. <a href="http://www.helsinki.fi/science/now/pdf/Micheels_etal_2009.pdf">[PDF]</a></p>

  <p>• Bernor, R.L., Rook L., and Haile-Selassie Y. 2009. Paleobiogeography. <b>In:</b> (eds.) Haile-Selassie Y. and Wolde Gabriel G. <i>Ardipithecus kadabba: Late Miocene Evidence from the Middle Awash, Ethiopia</i>. University of California Press, Los Angeles, pp. 549-563.</p>

  <p>• Koufos, G.D., Kostopoulos, D.S., and Merceron G. 2009. Palaeoecology and Palaeobiogeography. <b>In:</b> (eds.) Koufos G.D. and Nagel D. <i>The Late Miocene Mammal Faunas of the Mytilinii Basin, Samos Island, Greece: New Collection</i>. Beiträge zur Paläontologie 31: 409-428.</p>

  <p>• Nargolwalla, M.C. 2009. Eurasian Middle and Late Miocene Hominoid Paleobiogeography and the Geographic Origins of the Homininae. Ph.D. dissertation, University of Toronto.</p>

  <h3>2008</h3>

  <p>• Liow, L.H., Fortelius M., Bingham E., Lintulaakso K., Mannila H., Flynn L. and Stenseth N. C. 2008. Higher originaltion and extinction ratesin larger mammals. <i>PNAS</i> 105 (16): 6097-6102. <a href="http://www.helsinki.fi/science/now/pdf/Liow_etal_SLOH_PNAS_08.pdf">[PDF]</a></p>

  <p>• Liow L.H., Fortelius M., Bingham E., Lintulaakso K. , Mannila H., Flynn L. and Stenseth N. C. 2008. Sleep or hide, better for survival anytime (reply to Casanovas-Vilar et al.). <i>PNAS</i> 105 (35): E57. <a href="http://www.helsinki.fi/science/now/pdf/PNAS-2008-Liow-E57.pdf">[PDF]</a></p>

  <p>• Bernor, R.L. and L. Rook. 2008. A Current View of As-Sahabi Large Mammal Biogeographic Relationships, <i>Garyounis Scientific Bulletin</i>, Special Issue 5: 285-292.</p>

  <h3>2007</h3>

  <p>• Bingham E., Kabán A., and Fortelius M. 2007. The aspect Bernoulli model: multiple causes of presences and absences. <span style="font-style: italic;">Pattern Analysis &amp; Applications</span> 12: 55-78 DOI:10.1007/s10044-007-0096-4. <a href="http://www.helsinki.fi/science/now/pdf/Bingham_et_al_2007_PAA.pdf">[PDF]</a></p>

  <p>• Hopkins SSB. 2007. Causes of lineage decline in the Aplodontidae:&nbsp; Testing for the influence of physical and biological change.&nbsp; <span style="font-style: italic;">Palaeogeography, Palaeoclimatology, Palaeoecology</span> 246: 331-335.</p>

  <h3>2006</h3>

  <p>• Eronen J. T. 2006. Eurasian Neogene large herbivorous mammals and climate. <span style="font-style: italic;">Acta Zoologica Fennica</span> 216: 1-72.</p>

  <p>• Fortelius M, Eronen J. T., Liu L, Pushkina D, Tesakov A, Vislobokova IA, and Zhang Z. 2006. Late Miocene and Pliocene large land mammals and climatic changes in Eurasia. <span style="font-style: italic;">Palaeogeography, Palaeoclimatology,
  Palaeoecology</span> 238: 219-227. <a href="http://www.helsinki.fi/science/now/pdf/Fortelius_et_al_2006_PPP.pdf">[PDF]</a></p>

  <p>• Fortelius M, Gionis A, Jernvall J, and Mannila H. 2006. Spectral ordering and biochronology of European fossil mammals. <span style="font-style: italic;">Paleobiology</span> 32(2): 206-214. <a href="http://www.helsinki.fi/science/now/pdf/Fortelius_et_al_2006_PB.pdf">[PDF]</a></p>

  <p>• Fortelius M, and Zhang Z. 2006. An Oasis in the Desert? History of Endemism and Climate in the Late Neogene of North China. <span style="font-style: italic;">Palaeontographica A</span>. 277: 131-141.
      <a href="http://www.helsinki.fi/science/now/pdf/Fortelius_Zhang_2006_PalaeoA.pdf">[PDF]</a></p>

  <p>• Puolamäki K, Fortelius M, and Mannila H. 2006. Seriation in paleontological data using Markov Chain Monte Carlo methods. <span style="font-style: italic;">PLoS Computational Biology</span> 2(2): e6. <a href="http://www.helsinki.fi/science/now/pdf/Puolamaki_et_al_2006_PLoS.pdf">[PDF]</a></p>

  <p>• Koufos GD. 2006. Palaeoecology and chronology of the Vallesian (late Miocene) in the Eastern Mediterranean region. <span style="font-style: italic;">Palaeoclimatology, Palaeogeography, Palaeoecology</span>. 234: 127-145.</p>

  <h3>2005</h3>

  <p>• Ukkonen A, Fortelius M, and Mannila H. 2005. Finding partial orders from unordered 0–1 data. <span style="font-weight: bold;">In:</span> Grossman R, Bayardo R and Bennett KP. (eds.) <span style="font-style: italic;">Proceedings of the Eleventh ACM SIGKDD International Conference on Knowledge Discovery and Data Mining, Chicago, Illinois, USA, August 21–24, 2005</span>. pp. 285-293. <a href="http://www.helsinki.fi/science/now/pdf/Ukkonen_et_al_2005_KDD05.pdf">[PDF]</a></p>

  <h3>2004</h3>

  <p>• Eronen J. T., and Rook L. 2004. The Mio-Pliocene European primate fossil record: dynamics and habitat tracking. <span style="font-style: italic;">Journal of Human Evolution</span> 47(5): 323-341. <a href="http://www.helsinki.fi/science/now/pdf/Eronen_Rook_2004_JHE.pdf">[PDF]</a></p>

  <p>• Jernvall J, and Fortelius M. 2004. Maintenance of trophic structure in fossil mammal communities: site occupancy and taxon resilience. <span style="font-style: italic;">American Naturalist</span> 164(5): 614-624.
      <a href="http://www.helsinki.fi/science/now/pdf/Jernvall_Fortelius_2004_AmNat.pdf">[PDF]</a></p>

  <h3>2003</h3>

  <p>• Fortelius M. 2003. Evolution of dental capability in Western Eurasian large mammal plant-eaters 22–2 million years ago: a case for environmental forcing mediated by biotic processes. <span style="font-weight: bold;">In:</span> Legakis A, Sfenthourakis S, Polymeni R and Thessalou-Legaki M. (eds.) <span style="font-style: italic;">The New Panorama of Animal Evolution: Proceedings of the XVIII International Congress of Zoology, Athens, Greece, September 2000</span>. Pensoft, Sofia-Moscow.
      <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_2003_ICZ2000.zip">[dataset]</a></p>

  <p>• Fortelius M, Eronen J, Liu LP, Pushkina D, Tesakov A, Vislobokova I, and Zhang ZQ. 2003. Continental-scale hypsodonty patterns, climatic paleobiogeography and dispersal of Eurasian Neogene large mammal herbivores. <span style="font-weight: bold;">In:</span> Reumer JWF, and Wessels W. (eds.) Distribution and Migration of Tertiary Mammals in Eurasia. A volume in honour of Hans de Bruijn. <span style="font-style: italic;">Deinsea</span> 10: 1-11. <a href="http://www.helsinki.fi/science/now/pdf/Fortelius_et_al_2003_Deinsea.pdf">[PDF]</a> <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_et_al_2003_Deinsea.zip">[dataset]</a></p>

  <p>•Bernor RL, Kordos L, and Rook L. 2003. Recent Advances on Multidisciplinary Research at Rudab‡nya, Late Miocene (MN9), Hungary: A compendium. <span style="font-style: italic;">Palaeontographia Italica</span> 89: 3-36.</p>

  <p>• Koufos GD 2003. Late Miocene mammal events and biostratigraphy in the Eastern Mediterranean <b>In:</b> Reumer JWF &amp; Wessels W. (eds.) Distribution and Migration of Tertiary Mammals in Eurasia. A volume in honour of Hans de Bruijn, <span style="font-style: italic;">Deinsea 10: 343-372</span>. Utrecht, The Netherlands.</p>

  <h3>2002</h3>

  <p>• Fortelius M, Eronen J, Jernvall J, Liu L, Pushkina D, Rinne J, Tesakov A, Vislobokova I, Zhang Z, and Zhou L. 2002. Fossil mammals resolve regional patterns of Eurasian climate change over 20 million years. <span style="font-style: italic;">Evolutionary Ecology Research</span> 4: 1005-1016. <a href="http://www.helsinki.fi/science/now/pdf/Fortelius_et_al_2002_EER.pdf">[PDF]</a> <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_et_al_2002_EER.zip">[dataset]</a></p>

  <p>• Jernvall, J, and Fortelius M. 2002. Common mammals drive the evolutionary increase of hypsodonty in the Neogene. <span style="font-style: italic;">Nature</span> 417: 538-540. <a href="http://www.helsinki.fi/science/now/pdf/Jernvall_Fortelius_2002_Nature.pdf">[PDF]</a></p>

  <h3>2001</h3>

  <p>• Agustí, J. 2001. Defining MN-units and magnetobiostratigraphic correlation of the Spanish sections. <span style="font-weight: bold;">In:</span> Latal C, and Pillar WE. (eds.) Environmental and Ecosystem Dynamics of the Eurasian Neogene (EEDEN). Stratigraphy &amp; Paleogeography Workshop, March 15–18 2001, Graz, Austria. <span style="font-style: italic;">Berichte des Institutes für Geologie und Paläontologie der Karl-Franzens-Universität Graz/Austria</span> 4: 23-26.</p>

  <p>• Agustí J, Cabrera L, and Garcés, M. 2001. Chronology and zoogeography of the Miocene hominoid record in Europe. <span style="font-weight: bold;">In:</span> de Bonis L, Koufos GD, and Andrews P. (eds.) <span style="font-style: italic;">Hominoid Evolution and Climate Change: Volume 2, Phylogeny of the Neogene Hominoid Primates of Eurasia</span>. pp. 2-18. Cambridge University Press, London.</p>

  <p>• Agustí J, Cabrera L, Garcés, M, Krijgsman W, Oms O, and Parés JM. 2001. A calibrated mammal scale for the Neogene of Western Europe. State of the art. <span style="font-style: italic;">Earth Science Reviews</span> 52: 247–260. <a href="http://www.helsinki.fi/science/now/pdf/Agusti_et_al_2001_ESR.pdf">[PDF]</a></p>

  <p>• Agustí J, and Oms O. 2001. On the age of the last hipparionine faunas in western Europe. <span style="font-style: italic;">Comptes Rendus de l'Academie des Sciences Series IIA Earth and Planetary Science</span> 332(4): 291-297.</p>

  <p>• Agustí J, Oms O, and Remacha E. 2001. Long Plio-Pleistocene Terrestrial Record of Climate Change and Mammal Turnover in Southern Spain. <span style="font-style: italic;">Quaternary Research</span> 56(3): 411-418.</p>

  <p>• Alba DM, Agustí J, and Moyà-Solà S. 2001. Completeness of the mammalian fossil record in the Iberian Neogene. <span style="font-style: italic;">Paleobiology</span> 27(1): 79-83. <a href="http://www.helsinki.fi/science/now/pdf/Alba_et_al_2001_PB.pdf">[PDF]</a></p>

  <p>• Bernor RL, Fortelius M, and Rook L. 2001. Evolutionary Biogeography and Paleoecology of the <span style="font-style: italic;">Oreopithecus bambolii</span> ”Faunal Zone” (late Miocene, Tusco-Sardinian Province). <span style="font-weight: bold;">In:</span> Rook L, and Torre D. (eds.) Neogene and Quaternary continental stratigraphy and mammal evolution. <span style="font-style: italic;">Bollettino della Società Paleontologica Italiana</span> 40(2): 139-148.
      <a href="http://www.helsinki.fi/science/now/datasets/Bernor_et_al_2001_BSPI.zip">[dataset]</a></p>

  <p>• Fortelius M, and Hokkanen A. 2001. The trophic context of hominoid occurrence in the Later Miocene of Western Eurasia – a primate-free view. <span style="font-weight: bold;">In:</span> de Bonis L, Koufos GD, and Andrews P. (eds.) <span style="font-style: italic;">Hominoid Evolution and Climate Change: Volume 2, Phylogeny of the Neogene Hominoid Primates of Eurasia</span>. pp. 19-47. Cambridge University Press, London. <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_Hokkanen_2001_HECC.zip">[dataset]</a></p>

  <p>• Garcés M, Krijgsman W, and Agustí J. 2001. Chronostratigraphic framework and evolution of the Fortuna basin (Eastern Betics) since the Late Miocene. <span style="font-style: italic;">Basin Research</span> 13(2): 199-216.</p>

  <h3>2000</h3>

  <p>• Krijgsman W, Garcés M, Agustí J, Raffi I, Taberner C, and Zachariasse WJ. 2000. The 'Tortonian salinity crisis' of the eastern Betics (Spain). <span style="font-style: italic;">Earth and Planetary Science Letters</span> 181: 497-511.
  </p>

  <h3>1998</h3>

  <p>• Agusti J, Andrews P, Fortelius M, and Rook L. 1998. Hominoid evolution and environmental change in the Neogene of Europe: a European Science Foundation network. <span style="font-style: italic;">Journal of Human Evolution</span> 34(1): 103-107. <a href="http://www.helsinki.fi/science/now/pdf/Agusti_et_al_1998_JHE.pdf">[PDF]</a></p>

  <p>• Alroy J, Bernor RL, Fortelius M, and Werdelin L. 1998. The MN system: regional or continental? <span style="font-style: italic;">Mitteilungen der Bayerischen Staatssamlung für Paläontologie und historische Geologie</span> 38: 243-258. <a href="http://www.helsinki.fi/science/now/datasets/Alroy_et_al_1998_MBS.zip">[dataset]</a></p>

  <h3>1997</h3>

  <p>• Werdelin L, and Fortelius M. 1997. Biogeographic characterisation of MN unit reference localities. <span style="font-weight: bold;">In:</span> Aguilar J-P, Legendre S, and Michaux J. (eds.) Actes du Congrès BiochroM'97. <span style="font-style: italic;">Mémoires et Travaux, École Pratique des Hautes Études, Institut de Montpellier</span> 21: 67-73.</p>

  <h3>1996</h3>

  <p>• Bernor RL, Fahlbusch V, Andrews P, de Bruijn H, Fortelius M, Rögl F, Steininger FF, and Werdelin L. 1996. The evolution of western Eurasian Neogene mammal faunas: a chronologic, systematic, biogeographic, and paleoenvironmental synthesis. <span style="font-weight: bold;">In:</span> Bernor RL, Fahlbusch V, and Mittmann W. (eds.) <span style="font-style: italic;">The Evolution of Western Eurasian Neogene Mammal Faunas</span>. pp. 449-470. Columbia University Press.</p>

  <p>• Fortelius M, Andrews P, Bernor RL, and Werdelin L. 1996. Preliminary analysis of taxonomic diversity, turnover and provinciality in a subsample of large land mammals from the later Miocene of western Eurasia. <span style="font-weight: bold;">In:</span> Nadachowski A, and Werdelin L. (eds.) Neogene and Quaternary Mammals of the Palaearctic. Conference in honour of Professor Kazimierz Kowalski. <span style="font-style: italic;">Acta Zoologica Cracoviensia</span> 39: 167-178.</p>

  <p>• Fortelius M, van der Made J, and Bernor R. 1996. Middle and Late Miocene Suoidea of central Europe and the eastern Mediterranean: evolution, biogeography and paleoecology. <span style="font-weight: bold;">In:</span> Bernor RL,Fahlbusch V, and Mittmann W. (eds.) <span style="font-style: italic;">The Evolution of Western Eurasian Neogene Mammal Faunas</span>. pp. 348-377. Columbia University Press. <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_et_al_1996_EWENMF.zip">[dataset]</a></p>

  <p>• Fortelius M, Werdelin L. Andrews P, Bernor RL, Gentry A, Humphrey L, Mittmann W, and Viranta S. 1996. Provinciality, diversity, turnover and paleoecology in land mammal faunas of the later Miocene of western Eurasia. <span style="font-weight: bold;">In:</span> Bernor RL, Fahlbusch V, and Mittmann W. (eds.) <span style="font-style: italic;">The Evolution of Western Eurasian Neogene Mammal Faunas</span>. pp. 414-448. Columbia University Press. <a href="http://www.helsinki.fi/science/now/datasets/Fortelius_et_al_1996_EWENMF.zip">[dataset]</a></p>

</article>
{% endblock %}

{% block aside %}
{% endblock %}
