{% extends "now_base_generic.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
  <title>NOW - Fossil Mammal Database - Data Conventions - Species at Localities</title>
{% endblock %}

{% block content %}

<!-- Write your comments here -->

<article style="vertical-align: top; text-align: justify;" class="col-6 col-s-9 middlepanel">
  {% load static %}
  <p>As a guideline NOW uses the taxonomy of <a href="{% url 'conventions' %}#McKennaBell">McKenna &amp; Bell's</a><i>Classification of Mammals Above the Species Level</i>, except for Muridae for which we use McKenna &amp; Bell's classification with the modifications suggested by <a href={% static "now/pdf/Muridae_tentative.pdf" %} target="_blank">Hans de Bruijn</a>.</p>
	<h1>Species at Localities</h1>
  <p>The most common function performed in NOW is inputting taxon lists into localities. If the locality in question is not in NOW yet, please follow the instructions under <a href="{% url 'locality_notes' %}">Localities</a> first. When entering taxon lists into a locality, the primary assumption is that all the species already exist in the database, and can be added into the locality with the <b>'Select species'</b> function. For these species, please follow the rules and examples below.</p>

  <p>However, in some cases all of the species do not exist in the database yet, usually because they are informal or recently established species. For such species, use the
      <b>'Add new species'</b> function, and follow the guidelines under <a href="{% url 'taxonomy' %}">Taxonomic Fields</a> for correctly entering the taxonomic information of the new species. Then follow these instructions for the occurrence of taxa at the locality you are adding.</p>
  <br>

  <p> The fields explained below can be found in the Locality > <b>Species</b> tab for all species at a locality, and in the Species > <b>Loc-Sp Info</b> tab for all locality occurrences of a specific species.</p>

  <table style="width: 480px;" border="1" cellpadding="10" cellspacing="5">
      <tbody>
          <tr>
              <td width="64" style="vertical-align: middle; text-align: left;"><span style="font-weight: bold;">ID Status</span>
                  <br>
              </td>
              <td width="355" style="vertical-align: top; text-align: left;"><a name="tab_ID_status">Indicates</a> an uncertain identification and therefore an uncertain occurrence of the taxon at a particular locality, so is an attribute of the species-locality relationship. Usually the ID status is blank.
                  <p>Valid entries are:</p>

                  <ul>
                      <li>family id uncertain</li>
                      <li>genus id uncertain</li>
                      <li>species id uncertain</li>
                  </ul>
              </td>
          </tr>

          <tr>
              <td width="64" style="vertical-align: middle; text-align: left;"><span style="font-weight: bold;">Additional Info</span></td>
              <td width="355" style="vertical-align: top; text-align: left;"><a name="tab_Add_Info">Additional Info</a> field can be used to record locality related species information that cannot be recorded in any other field but might be important for other users to know:
                  <ul>
                      <li>Taxonomic devices like 'cf.', 'aff.', 'ex gr.' no longer exist as such in the database, but have instead become attributes of individual occurrences of the taxon, indicated by ID status (or attributes of all instances of the taxon, indicated by
                          <a href="{% url 'taxonomy' %}#tab_Tax_status">taxonomic status</a>). Use 'Additional Info' in these cases to record what was written in the original document
                      </li>
                      <br>

                      <li>'Additional Info' can contain historical information, for example 'Suidae indet. in older references' or 'previous ID S. splendens incorrect'.
                      </li>
                      <br>
                      <li>You can also enter subspecies names into the &#39;Additional Info&#39; field (this is preferred over creating a new species entry with a subspecies in the &#39;Unique ID&#39; field)</li>
                      <br>
                  </ul>
              </td>
          </tr>
          <tr>

              <td style="vertical-align: middle; text-align: left;"><span style="font-weight: bold;">Source Name</span>
                  <br>
              </td>
              <td style="vertical-align: top; text-align: left;">This information should be recorded for localities where the reference literature lists a species with a junior synonym name. For example:
                  <br>

                  <a name="tab_Source_Name">
                      <p>Reference literature lists the species <i>Listriodon mongoliensis</i> present, but this taxon is recognized by the name of <i>Listriodon splendens</i> in the NOW database. In this case, the taxon will be listed as Listriodon splendens in the Locality species list, but Listriodon mongoliensis will be recorded in the 'Source Name' field. </p>

                      <p>If a comment '*from merge' appears in the 'Source Name' field after the junior synonym name, this means it was automatically transferred there when two (or more) species were recognized as synonymous during taxonomic updates of the NOW database (and the locality in question listed the junior synonym name).</p>

                      <p><b>NOTE:</b> Source Name field was added to NOW in December 2011, so this field will be empty in localities which have not been updated recently.</p>
              </td>
          </tr>
          <tr>
              <td style="vertical-align: middle; text-align: left;"><span style="font-weight: bold;">Other</span>
                  <br>

              </td>
              <td style="vertical-align: top; text-align: left;">This information can be added for localities where it is available - it is very valuable but optional:
                  <br>
                  <br>
                  <a name="tab_Other"><b>nis</b> = number of identified specimens</a>
                  <br>
                  <b>pct</b> = percent
                  <br>
                  <b>quad</b> = quadrate count
                  <br>

                  <b>mni</b> = minimum number of individuals
                  <br>
                  <b>qu</b> = qualitative
              </td>
          </tr>
      </tbody>
  </table>
  <br>

  <h2><a name="ExamplesSpeciesLocalities"></a>Examples &ndash; Species at Localities</h2>

  <ul>
      <li>
          <h3><a name="UncertainOccTax"></a>Uncertain occurrence of taxon</h3>
      </li>
  </ul>

  <p>NOTE: ideally, where the identification of a taxon is uncertain (meaning the occurrence of the taxon at a certain locality is uncertain), it should not be entered in the database. However, when such taxa are entered for some good reason, this is the accepted style.</p>

  <table style="width: 480px;" border="1" cellpadding="2" cellspacing="2">
      <tbody>
          <tr>
              <td colspan="5" rowspan="1" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species At Locality</span></td>
          </tr>

          <tr>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Family</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Subfamily</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Genus</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Unique</span></td>

              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">ID Status</span></td>
          </tr>
          <tr>
              <td rowspan="1" colspan="6" style="text-align: left; vertical-align: middle;">
                  <br>
                  <span style="font-weight: bold;">Situation:</span> uncertain occurrence of species at locality
                  <br>
                  <span style="font-weight: bold;">May appear in literature as:</span> <span style="font-style: italic;">Amphicyon</span> cf.
                  <span style="font-style: italic;">major</span>, cf. <span style="font-style: italic;">Amphicyon major</span>,
                  <span style="font-style: italic;">Amphicyon</span> aff. <span style="font-style: italic;">major</span>,
                  <span style="font-style: italic;">Amphicyon</span> ex gr. <span style="font-style: italic;">major</span></td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyonidae</td>
              <td style="text-align: left; vertical-align: middle;">Amphicyoninae</td>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">major</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">species id uncertain</td>
          </tr>
          <tr>
              <td rowspan="1" colspan="6" style="text-align: left; vertical-align: middle;">
                  <br>
                  <span style="font-weight: bold;">Situation:</span> uncertain occurrence of genus at locality
                  <br>
                  <span style="font-weight: bold;">May appear in literature as:</span> cf. <span style="font-style: italic;">Amphicyon</span> sp., cf.
                  <span style="font-style: italic;">Amphicyon</span> indet., cf. <span style="font-style: italic;">Amphicyon</span>, ?
                  <span style="font-style: italic;">Amphicyon</span></td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyonidae</td>
              <td style="text-align: left; vertical-align: middle;">Amphicyoninae</td>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">indet</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">genus id uncertain</td>
          </tr>
          <tr>
              <td colspan="6" rowspan="1" style="text-align: left; vertical-align: middle;">
                  <br>
                  <span style="font-weight: bold;">Situation:</span> uncertain occurrence of family at locality
                  <br>
                  <span style="font-weight: bold;">May appear in literature as:</span> cf. Felidae indet. indet.</td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Felidae</td>
              <td style="text-align: left; vertical-align: middle;">&nbsp;</td>
              <td style="text-align: left; vertical-align: middle;">indet.</td>
              <td style="text-align: left; vertical-align: middle;">indet.</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">family id uncertain</td>
          </tr>
      </tbody>
  </table>

  <p>
      <a name="UncertainOccTax_TwoSpecies"></a>Additional Info field can be used to record information when there is uncertainly between two possible species at a locality.</p>
  <table style="width: 480px;" border="1" cellpadding="2" cellspacing="2">
      <tbody>
          <tr>

              <td rowspan="1" colspan="4" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="171" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species At Locality</span></td>
          </tr>
          <tr>
              <td width="60" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Genus</span></td>
              <td width="86" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="65" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Unique</span></td>

              <td width="54" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Taxonomic Status</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Additional Info</span></td>
          </tr>
          <br>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> <i>Amphicyon major</i> cf. <i>steinheimensis</i> in the literature - if the intention is species <i>major</i> or <u>possibly</u> species
                  <i>steinheimensis</i>
                  <br>

              </td>
          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">major</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">A. major cf. steinheimensis</td>
          </tr>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> <i>Amphicyon major</i> / <i>steinheimensis</i> in the literature - if the intention is species <i>major</i> or species <i>steinheimensis</i> (both as likely, <u>neither</u> is preferred)
                  <br>

              </td>
          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">indet</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">A. major/steinheimensis</td>
          </tr>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> Uncertain genus, species unknown, <i>Amphicyon</i>/<i>Cynelos</i> indet in literature
                  <br>

              </td>
          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">indet</td>
              <td style="text-align: left; vertical-align: middle;">indet</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>

              <td style="text-align: left; vertical-align: middle;">Amphicyon/Cynelos indet</td>
          </tr>
      </tbody>
  </table>

  <p>
      <b>NOTE</b>: In a few recognised cases, two similar but separate species may not be possible to tell apart (for example, not just from dental material). Where the taxon is thus indeterminate but limited to two known species, and <u>this is a regular occurrence</u>, the species may be entered into NOW as a new species entry. Please see an
      <a href="{% url 'taxonomy' %}#TwoTaxa_Regular">example</a> under 'Proper use of Taxonomic fields'. </i>

  </p>

  <ul>
      <li>
          <h3><a name="UncertainOccAssig">Uncertain occurrence of taxon with uncertain taxonomic assignment</a></h3>
      </li>
  </ul>
  <table style="width: 480px;" border="1" cellpadding="2" cellspacing="2">
      <tbody>

          <tr>
              <td rowspan="1" colspan="4" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species At Locality</span></td>
          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Genus</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>

              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Unique</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Taxonomic Status</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">ID Status</span></td>
          </tr>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <span style="font-weight: bold;">Situation:</span> uncertain occurrence of species at locality
                  <br>

                  <span style="font-weight: bold;">May appear in literature as:</span> cf. <i>Amphicyon</i> cf. <i>steinheimensis</i>, ?
                  <i>Amphicyon</i> aff. <i>steinheimensis</i>, "<i>Amphicyon</i>" ?<i>steinheimensis</i></td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">steinheimensis</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">genus attrib of species uncertain</td>
              <td style="text-align: left; vertical-align: middle;">species id uncertain</td>

          </tr>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <span style="font-weight: bold;">Situation:</span> uncertain occurrence of unnamed species at locality Stockholm
                  <br>
                  <span style="font-weight: bold;">May appear in literature as: </span>cf. <i>Lynx</i> sp.1</td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Lynx</td>
              <td style="text-align: left; vertical-align: middle;">sp.</td>
              <td style="text-align: left; vertical-align: middle;">Stockholm 1</td>
              <td style="text-align: left; vertical-align: middle;">informal species</td>
              <td style="text-align: left; vertical-align: middle;">species id uncertain</td>

          </tr>
      </tbody>
  </table>
  <br>

  <ul>
      <li>
          <h3><a name="LocSubspecies"></a>When a subspecies is listed for a taxon</h3>
      </li>

  </ul>
  <table style="width: 480px;" border="1" cellpadding="2" cellspacing="2">
      <tbody>
          <tr>
              <td rowspan="1" colspan="4" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="171" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species At Locality</span></td>
          </tr>
          <tr>

              <td width="60" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Genus</span></td>
              <td width="133" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="18" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Unique</span></td>
              <td width="54" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Taxonomic Status</span></td>
              <td style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Additional Info</span></td>
          </tr>

          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> a subspecies is listed for the species in the literature
                  <br>
                  <b>May appear in literature as:</b><i> Amphicyon steinheimensis kurteni</i>, <i>Amphicyon steinheimensis arcticus</i>, etc.

          </tr>

          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">steinheimensis</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">subspecies: kurteni</td>

          </tr>
          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> a possible subspecies is listed for the species in the literature
                  <br>
                  <b>May appear in literature as:</b> Amphicyon steinheimensis</i> cf. <i>kurteni</i>, <i>Amphicyon steinheimensis </i> cf. <i> arcticus</i>, etc.</td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Amphicyon</td>
              <td style="text-align: left; vertical-align: middle;">steinheimensis</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">subspecies: cf. kurteni</td>

          </tr>
      </tbody>
  </table>
  <br>

  <ul>
      <li>
          <h3><a name="SynTaxName"></a>When a synonymous name is listed in the literature</h3>
      </li>

  </ul>
  <table style="width: 480px;" border="1" cellpadding="2" cellspacing="2">
      <tbody>
          <tr>
              <td rowspan="1" colspan="4" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="171" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species At Locality</span></td>
          </tr>
          <tr>

              <td width="60" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Genus</span></td>
              <td width="86" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Species</span></td>
              <td width="65" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Unique</span></td>
              <td width="54" style="text-align: left; vertical-align: middle;"><span style="font-weight: bold;">Taxonomic Status</span></td>
              <td style="text-align: left; vertical-align: middle;"><b>Source Name</b></td>
          </tr>

          <tr>
              <td rowspan="1" colspan="5" style="text-align: left; vertical-align: middle;">
                  <br>
                  <b>Situation:</b> a synonymous name is listed for the species in the literature
                  <br>
                  <b>May appear in literature as:</b><i> Rhinocerus mercki</i>, which is listed as a synonym of <i>Stephanorhinus kirchbergensis</i> in NOW</td>

          </tr>
          <tr>
              <td style="text-align: left; vertical-align: middle;">Stephanorhinus</td>
              <td style="text-align: left; vertical-align: middle;">kirchbergensis</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">-</td>
              <td style="text-align: left; vertical-align: middle;">Rhinocerus mercki</td>

          </tr>
      </tbody>
  </table>
  <br>

  <p><b>Links to:</b></p>

  <p>Proper use of <a href="{% url 'taxonomy' %}">Taxonomic Fields</a></p>

  <p>Notes on <a href="{% url 'species_notes' %}">description of species</a></p>

  <p>Notes on <a href="{% url 'locality_notes' %}">description of localities</a></p>

  <p><a href="{% url 'data_entry_practices' %}">Data entry practices</a></p>
  <br>

  <p><b>Reference:</b></p>
  <p>
      <a name="McKenna & Bell"></a><b>McKenna, M.C. &amp; Bell, S.K.</b> 2000. <i>Classification of Mammals Above the Species Level</i>. i&ndash;xii, 16&ndash;631. Columbia University Press.
      </td>

      <td style="width: 130px; vertical-align: top;" class="sidepanel">
  </p>
  </td>
  </tr>
</tbody>
</table>


</article>
{% endblock %}

{% block aside %}
{% endblock %}
