{% extends "now_base_generic.html" %}
{% block script %}
{% endblock %}
{% block title %}
NOW - Fossil Mammal Database - NOW Wiki
{% endblock %}
{% block content %}
{% load static %}

<!--Article header -->
<header style="display:none">
	<h3>NOW Wiki</h3>
</header>
<!--End of article header -->
<section class="w3-container w3-section">
  <header class="w3-container">
    <h3>GutHub - NOW Wiki</h3>
  </header>
	<br>
	<a href="https://github.com/nowcommunity/NOW/wiki" target="_blank">Please visit the NOW Wiki at GitHUb.</a>
	<br>
</section>
{% endblock %}
